/* Animated Android */
#e9MXd5E0nKu1 {
  fill: white;
  width: 100px;
}

 #e9MXd5E0nKu9_tr {
  animation: e9MXd5E0nKu9_tr__tr 2000ms linear infinite normal forwards;
}
@keyframes e9MXd5E0nKu9_tr__tr {
  0% {
    transform: translate(9px, 24.066851px) rotate(-0.060126deg);
  }
  40% {
    transform: translate(9px, 24.066851px) rotate(177.064197deg);
  }
  50% {
    transform: translate(9px, 24.066851px) rotate(160.953358deg);
  }
  60% {
    transform: translate(9px, 24.066851px) rotate(181.581119deg);
  }
  100% {
    transform: translate(9px, 24.066851px) rotate(-0.45839deg);
  }
} 

/*

  .Animated_Android{fill: white; width: 100px;}.AndroidHand { animation: AndroidHand_tr 2000ms linear infinite normal forwards;} @keyframes AndroidHand_tr {0% {transform: translate(9px, 24.066851px) rotate(-0.060126deg);}  40% {transform: translate(9px, 24.066851px) rotate(177.064197deg);}50% {transform: translate(9px, 24.066851px) rotate(160.953358deg);}60% {transform: translate(9px, 24.066851px) rotate(181.581119deg);}100% {transform: translate(9px, 24.066851px) rotate(-0.45839deg);}} 

  */
/* Animated Web */
#efdkn1a7VSF1 {
  width: 70px;
  fill: white;
}
#efdkn1a7VSF3 {
  animation: efdkn1a7VSF3_c_o 2000ms linear infinite normal forwards;
}
@keyframes efdkn1a7VSF3_c_o {
  0% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  60% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.1;
  }
}
#efdkn1a7VSF4 {
  animation: efdkn1a7VSF4_c_o 2000ms linear infinite normal forwards;
}
@keyframes efdkn1a7VSF4_c_o {
  0% {
    opacity: 0.1;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.1;
  }
}
#efdkn1a7VSF5 {
  animation: efdkn1a7VSF5_c_o 2000ms linear infinite normal forwards;
}
@keyframes efdkn1a7VSF5_c_o {
  0% {
    opacity: 0.1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}
#efdkn1a7VSF7 {
  animation: efdkn1a7VSF7_c_o 2000ms linear infinite normal forwards;
}
@keyframes efdkn1a7VSF7_c_o {
  0% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  60% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.1;
  }
}
#efdkn1a7VSF8 {
  animation: efdkn1a7VSF8_c_o 2000ms linear infinite normal forwards;
}
@keyframes efdkn1a7VSF8_c_o {
  0% {
    opacity: 0.1;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.1;
  }
}
#efdkn1a7VSF9 {
  animation: efdkn1a7VSF9_c_o 2000ms linear infinite normal forwards;
}
@keyframes efdkn1a7VSF9_c_o {
  0% {
    opacity: 0.1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}
#efdkn1a7VSF11_tr {
  animation: efdkn1a7VSF11_tr__tr 2000ms linear infinite normal forwards;
}
@keyframes efdkn1a7VSF11_tr__tr {
  0% {
    transform: translate(35.1455px, 37.241285px) rotate(0deg);
  }
  100% {
    transform: translate(35.1455px, 37.241285px) rotate(180deg);
  }
}
/* Animated Logistic */
#eve4kjUaAM71{
  fill: white;
  width: 150px;
}
#eve4kjUaAM74_to {
  animation: eve4kjUaAM74_to__to 2000ms linear infinite normal forwards;
}
@keyframes eve4kjUaAM74_to__to {
  0% {
    transform: translate(17.475225px, 23.44591px);
  }
  50% {
    transform: translate(21.324776px, 23.44591px);
  }
  100% {
    transform: translate(17.522085px, 23.44591px);
  }
}
#eve4kjUaAM75_to {
  animation: eve4kjUaAM75_to__to 2000ms linear infinite normal forwards;
}
@keyframes eve4kjUaAM75_to__to {
  0% {
    transform: translate(14.286187px, 31.165493px);
  }
  50% {
    transform: translate(24.551655px, 31.165493px);
  }
  100% {
    transform: translate(14.285233px, 31.165493px);
  }
}
#eve4kjUaAM76_to {
  animation: eve4kjUaAM76_to__to 2000ms linear infinite normal forwards;
}
@keyframes eve4kjUaAM76_to__to {
  0% {
    transform: translate(13.648841px, 38.834976px);
  }
  50% {
    transform: translate(22.987565px, 38.834976px);
  }
  100% {
    transform: translate(13.648841px, 38.834976px);
  }
}
#eve4kjUaAM77_tr {
  animation: eve4kjUaAM77_tr__tr 2000ms linear infinite normal forwards;
}
@keyframes eve4kjUaAM77_tr__tr {
  0% {
    transform: translate(20.139978px, 48.560269px) rotate(0deg);
  }
  100% {
    transform: translate(20.139978px, 48.560269px) rotate(720deg);
  }
}
#eve4kjUaAM710_tr {
  animation: eve4kjUaAM710_tr__tr 2000ms linear infinite normal forwards;
}
@keyframes eve4kjUaAM710_tr__tr {
  0% {
    transform: translate(46.916683px, 48.560268px) rotate(0deg);
  }
  100% {
    transform: translate(46.916683px, 48.560268px) rotate(720deg);
  }
}
/* Animated Chart */
#ezEmM5xpFNZ1 {
  fill: white;
  width: 60px;
}
#ezEmM5xpFNZ2_ts {
  animation: ezEmM5xpFNZ2_ts__ts 2000ms linear infinite normal forwards;
}
@keyframes ezEmM5xpFNZ2_ts__ts {
  0% {
    transform: translate(56.79295px, 59.411189px) scale(1, 1);
  }
  50% {
    transform: translate(56.79295px, 59.411189px) scale(1, 0.773799);
  }
  100% {
    transform: translate(56.79295px, 59.411189px) scale(1, 1);
  }
}
#ezEmM5xpFNZ3_ts {
  animation: ezEmM5xpFNZ3_ts__ts 2000ms linear infinite normal forwards;
}
@keyframes ezEmM5xpFNZ3_ts__ts {
  0% {
    transform: translate(22.402718px, 59.407887px) scale(1, 1);
  }
  50% {
    transform: translate(22.402718px, 59.407887px) scale(1, 0.624184);
  }
  100% {
    transform: translate(22.402718px, 59.407887px) scale(1, 1);
  }
}
#ezEmM5xpFNZ4_ts {
  animation: ezEmM5xpFNZ4_ts__ts 2000ms linear infinite normal forwards;
}
@keyframes ezEmM5xpFNZ4_ts__ts {
  0% {
    transform: translate(39.606575px, 59.407887px) scale(1, 1);
  }
  50% {
    transform: translate(39.606575px, 59.407887px) scale(1, 1.31679);
  }
  100% {
    transform: translate(39.606575px, 59.407887px) scale(1, 1);
  }
}
#ezEmM5xpFNZ5_ts {
  animation: ezEmM5xpFNZ5_ts__ts 2000ms linear infinite normal forwards;
}
@keyframes ezEmM5xpFNZ5_ts__ts {
  0% {
    transform: translate(5.207392px, 59.407887px) scale(1, 1);
  }
  50% {
    transform: translate(5.207392px, 59.407887px) scale(1, 1.38155);
  }
  100% {
    transform: translate(5.207392px, 59.407887px) scale(1, 1);
  }
}
#ezEmM5xpFNZ6_to {
  animation: ezEmM5xpFNZ6_to__to 2000ms linear infinite normal forwards;
}
@keyframes ezEmM5xpFNZ6_to__to {
  0% {
    transform: translate(8.048439px, 24.124555px);
  }
  50% {
    transform: translate(8.048439px, 17.196376px);
  }
  100% {
    transform: translate(8.048439px, 24.025321px);
  }
}
#ezEmM5xpFNZ7_to {
  animation: ezEmM5xpFNZ7_to__to 2000ms linear infinite normal forwards;
}
@keyframes ezEmM5xpFNZ7_to__to {
  0% {
    transform: translate(25.243767px, 13.696376px);
  }
  50% {
    transform: translate(25.243767px, 26.928472px);
  }
  100% {
    transform: translate(25.243767px, 13.696376px);
  }
}
#ezEmM5xpFNZ8_to {
  animation: ezEmM5xpFNZ8_to__to 2000ms linear infinite normal forwards;
}
@keyframes ezEmM5xpFNZ8_to__to {
  0% {
    transform: translate(42.447628px, 20.624555px);
  }
  50% {
    transform: translate(42.447629px, 11.163901px);
  }
  100% {
    transform: translate(42.447629px, 20.624555px);
  }
}
#ezEmM5xpFNZ9_to {
  animation: ezEmM5xpFNZ9_to__to 2000ms linear infinite normal forwards;
}
@keyframes ezEmM5xpFNZ9_to__to {
  0% {
    transform: translate(59.633997px, 11.838777px);
  }
  50% {
    transform: translate(59.633997px, 19.923336px);
  }
  100% {
    transform: translate(59.633997px, 11.838777px);
  }
}
#ezEmM5xpFNZ10_to {
  animation: ezEmM5xpFNZ10_to__to 2000ms linear infinite normal forwards;
}
@keyframes ezEmM5xpFNZ10_to__to {
  0% {
    transform: translate(13.849504px, 16.215845px);
  }
  50% {
    transform: translate(13.939497px, 19.825177px);
  }
  100% {
    transform: translate(13.85px, 16.22px);
  }
}
#ezEmM5xpFNZ10_tr {
  animation: ezEmM5xpFNZ10_tr__tr 2000ms linear infinite normal forwards;
}
@keyframes ezEmM5xpFNZ10_tr__tr {
  0% {
    transform: rotate(-36.16deg);
  }
  50% {
    transform: rotate(31.862264deg);
  }
  100% {
    transform: rotate(-36.16deg);
  }
}
#ezEmM5xpFNZ11_to {
  animation: ezEmM5xpFNZ11_to__to 2000ms linear infinite normal forwards;
}
@keyframes ezEmM5xpFNZ11_to__to {
  0% {
    transform: translate(31px, 14.775993px);
  }
  50% {
    transform: translate(31px, 16.124188px);
  }
  100% {
    transform: translate(31px, 14.78px);
  }
}
#ezEmM5xpFNZ11_tr {
  animation: ezEmM5xpFNZ11_tr__tr 2000ms linear infinite normal forwards;
}
@keyframes ezEmM5xpFNZ11_tr__tr {
  0% {
    transform: rotate(22.949976deg);
  }
  50% {
    transform: rotate(-42.630244deg);
  }
  100% {
    transform: rotate(22.95deg);
  }
}
#ezEmM5xpFNZ11_ts {
  animation: ezEmM5xpFNZ11_ts__ts 2000ms linear infinite normal forwards;
}
@keyframes ezEmM5xpFNZ11_ts__ts {
  0% {
    transform: scale(0.980497, 1);
  }
  50% {
    transform: scale(1.435044, 1);
  }
  100% {
    transform: scale(1.022129, 1);
  }
}
#ezEmM5xpFNZ12_to {
  animation: ezEmM5xpFNZ12_to__to 2000ms linear infinite normal forwards;
}
@keyframes ezEmM5xpFNZ12_to__to {
  0% {
    transform: translate(48.370128px, 13.806366px);
  }
  50% {
    transform: translate(48.097081px, 13.701183px);
  }
  100% {
    transform: translate(48.200499px, 14.101602px);
  }
}
#ezEmM5xpFNZ12_tr {
  animation: ezEmM5xpFNZ12_tr__tr 2000ms linear infinite normal forwards;
}
@keyframes ezEmM5xpFNZ12_tr__tr {
  0% {
    transform: rotate(-28.73306deg);
  }
  50% {
    transform: rotate(32.026349deg);
  }
  100% {
    transform: rotate(-28.73deg);
  }
}
