@import url(./Header.css);
@import url(./Navbar.css);
@import url(./Footer.css);
@import url(./Xizmatlar.css);
@import url(./Boshlash.css);
@import url(./Contacts.css);
@import url(./Hamkorlik.css);
@import url(./Jamoa.css);
@import url(./Texnologiyalar.css);
@import url(./Xizmat.css);
@import url(./Home.css);
@import url(./Portfolio.css);
@import url(./Vakansiya.css);

.circle{
  position: relative;
  /* width: 600px;
  height: 600px; */
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  position: absolute;
  /* top: 0; */
  filter: url(#wavy) blur(1px);
  padding: 20px;
  opacity: 0.9;
}
.circle::before{
  content: "";
  position: absolute;
  top: 0px;
  left: 10px;
  width: 95%;
  height: 95%;
  border: 20px solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 50px #0f0, inset 0 0 50px #0f0;
  -webkit-box-reflect: below 10px linear-gradient(transparent,transparent,#0002);
  animation: animate 5s linear infinite;
}
.circle::after{
  content: "";
  position: absolute;
  top: 0px;
  left: 10px;
  width: 95%;
  height: 95%;
  border: 20px solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px #fff, inset 0 0 20px #fff;
  -webkit-box-reflect: below 10px linear-gradient(transparent,transparent,#0002);
}
@keyframes animate {
  0%{
    box-shadow: 0 0 30px #0f0, inset 0 0 30px #0f0;
    filter: hue-rotate(0deg);
  }
  20%{
    box-shadow: 0 0 40px #0f0, inset 0 0 40px #0f0;
  }
  40%{
    box-shadow: 0 0 20px #0f0, inset 0 0 20px #0f0;
  }
  60%{
    box-shadow: 0 0 40px #0f0, inset 0 0 40px #0f0;
  }
  80%{
    box-shadow: 0 0 20px #0f0, inset 0 0 20px #0f0;
  }
  100%{
    box-shadow: 0 0 30px #0f0, inset 0 0 30px #0f0;
    filter: hue-rotate(360deg);
  }
}
.flame__svg{
  width: 0;
  height: 0;
}
.btn__animation{
  position: relative;
  overflow: hidden;
  transition: all .5s;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  /* background: #0066FF; */
  backdrop-filter: blur(5px);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 60px;
}
.btn__animation::before{
  content: "";
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  border: 1px solid white;
  border-radius: 5px;
  position: absolute;
}
.span__anima1,
.span__anima2,
.span__anima3,
.span__anima4{
  position: absolute;
  display: block;
}
.span__anima1{
  height: 3px;
  width:240px;
  top:0px;
  left:-240px;
  background: linear-gradient(to right, rgba(0,0,0,0), #138AE0);
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
  animation: span1 2s linear infinite;
  animation-delay: 1s;
}

@keyframes span1{
  0%{
    left:-100%
  }
  100%{
    left: 100%;
  }
}
.span__anima2{
  height: 70px;
  width: 3px;
  top:-70px;
  right:0px;
  background: linear-gradient(to bottom, rgba(0,0,0,0), #138AE0);
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  animation: span2 2s linear infinite;
  animation-delay: 2s;
}
@keyframes span2{
  0%{
    top:-100%;
  }
  100%{
    top:100%;
  }
}
.span__anima3{
  height:3px;
  width:240px;
  right:-240px;
  bottom: 0px;
  background: linear-gradient(to left, rgba(0,0,0,0), #138AE0);
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
  animation: span3 2s linear infinite;
  animation-delay: 3s;
}
@keyframes span3{
  0%{
    right:-100%;
  }
  100%{
    right: 100%;
  }
}

.span__anima4{
  height:70px;
  width:3px;
  bottom:-70px;
  left:0px;
  background: linear-gradient(to top, rgba(0,0,0,0), #138AE0);
  border-top-right-radius: 1px;
  border-top-left-radius: 1px;
  animation: span4 2s linear infinite;
  animation-delay: 4s;
}
@keyframes span4{
  0%{
    bottom: -100%;
  }
  100%{
    bottom:100%;
  }
}

@media (max-width:1024px) {
  .circle{
    width: 100%;
    height: 100%;
  }
  .btn__animation{
    width: 220px;
    height: 50px;
    font-size: 17px;
  }
  .span__anima1{
    width: 220px;
  }
  .span__anima2{
    height: 50px;
  }
  .span__anima3{
    width: 220px;
  }
  .span__anima4{
    height: 50px;
  }
}
@media (max-width:320px) {
  .circle{
    width: 100%;
    height: 100%;
  }
  .btn__animation{
    width: 200px;
    height: 40px;
    font-size: 15px;
  }
  .span__anima1{
    width: 200px;
  }
  .span__anima2{
    height: 40px;
  }
  .span__anima3{
    width: 200px;
  }
  .span__anima4{
    height: 40px;
  }
}