@import url(./Header.css);
@import url(./Navbar.css);
@import url(./Footer.css);
@import url(./Xizmatlar.css);
@import url(./Boshlash.css);
@import url(./Contacts.css);
@import url(./Hamkorlik.css);
@import url(./Jamoa.css);
@import url(./Jarayon.css);
@import url(./Proyekts.css);
@import url(./Savollar.css);
@import url(./Texnologiyalar.css);
@import url(./Xizmat.css);
@import url(./Comments.css);

.circle{
  position: relative;
  /* width: 600px;
  height: 600px; */
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  position: absolute;
  /* top: 0; */
  filter: url(#wavy) blur(1px);
  padding: 20px;
  opacity: 0.9;
}
.circle::before{
  content: "";
  position: absolute;
  top: 0px;
  left: 10px;
  width: 95%;
  height: 95%;
  border: 20px solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 50px #0f0, inset 0 0 50px #0f0;
  -webkit-box-reflect: below 10px linear-gradient(transparent,transparent,#0002);
  animation: animate 5s linear infinite;
}
.circle::after{
  content: "";
  position: absolute;
  top: 0px;
  left: 10px;
  width: 95%;
  height: 95%;
  border: 20px solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px #fff, inset 0 0 20px #fff;
  -webkit-box-reflect: below 10px linear-gradient(transparent,transparent,#0002);
}
@keyframes animate {
  0%{
    box-shadow: 0 0 30px #0f0, inset 0 0 30px #0f0;
    filter: hue-rotate(0deg);
  }
  20%{
    box-shadow: 0 0 40px #0f0, inset 0 0 40px #0f0;
  }
  40%{
    box-shadow: 0 0 20px #0f0, inset 0 0 20px #0f0;
  }
  60%{
    box-shadow: 0 0 40px #0f0, inset 0 0 40px #0f0;
  }
  80%{
    box-shadow: 0 0 20px #0f0, inset 0 0 20px #0f0;
  }
  100%{
    box-shadow: 0 0 30px #0f0, inset 0 0 30px #0f0;
    filter: hue-rotate(360deg);
  }
}
.flame__svg{
  width: 0;
  height: 0;
}
@media (max-width:1024px) {
  .circle{
    width: 100%;
    height: 100%;
  }
}