.coomments__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 100px;
  margin-bottom: 100px;
}

.comments {
  border: 2px dashed rgba(255, 255, 255, 0.3);
  width: 700px;
  height: 700px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin-top: 50px;
}

.comment__center {
  width: 270px;
  height: 270px;
  border-radius: 50%;
  background: radial-gradient(50% 50% at 50% 50%, rgba(0, 182, 255, 0) 86.98%, rgba(0, 182, 255, 0.21) 100%);
  padding: 25px;
  border: 1px solid #FFFFFF;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.comment__center img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.comment__center svg {
  position: absolute;
  width: 100px;
  height: 100px;
}

.cimment__circle {
  width: 100px;
  height: 100px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transform-origin: 400px;
          transform-origin: 400px;
  left: -50px;
  -webkit-transform: rotate(calc(360deg / 8 * var(--i)));
          transform: rotate(calc(360deg / 8 * var(--i)));
  border: 1px solid #0066FF;
  padding: 10px;
  border-radius: 50%;
}

.cimment__circle img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  -webkit-transform: rotate(calc(360deg / -8 * var(--i)));
          transform: rotate(calc(360deg / -8 * var(--i)));
}

.cimment__circle svg {
  width: 30px;
  height: 30px;
  position: absolute;
  -webkit-transform: rotate(calc(360deg / -8 * var(--i)));
          transform: rotate(calc(360deg / -8 * var(--i)));
  z-index: 2;
}

.cimment__circle::before {
  content: "";
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  position: absolute;
  background: rgba(173, 162, 242, 0.4);
  border-radius: 50%;
  z-index: 1;
}

@media (max-width: 850px) {
  .comments {
    width: 600px;
    height: 600px;
  }
  .cimment__circle {
    -webkit-transform-origin: 350px;
            transform-origin: 350px;
  }
}

@media (max-width: 768px) {
  .coomments__container {
    margin-top: 60px;
    margin-bottom: 80px;
  }
  .comments {
    width: 500px;
    height: 500px;
  }
  .cimment__circle {
    -webkit-transform-origin: 300px;
            transform-origin: 300px;
  }
}

@media (max-width: 650px) {
  .comments {
    width: 400px;
    height: 400px;
  }
  .cimment__circle {
    -webkit-transform-origin: 235px;
            transform-origin: 235px;
    width: 70px;
    height: 70px;
    left: -35px;
    padding: 7px;
  }
  .comment__center {
    width: 160px;
    height: 160px;
    padding: 15px;
  }
  .comment__center svg {
    width: 70px;
    height: 70px;
  }
}

@media (max-width: 500px) {
  .comments {
    width: 360px;
    height: 360px;
  }
  .cimment__circle {
    -webkit-transform-origin: 215px;
            transform-origin: 215px;
  }
}

@media (max-width: 450px) {
  .coomments__container {
    margin-top: 40px;
    margin-bottom: 60px;
  }
  .comments {
    width: 300px;
    height: 300px;
  }
  .cimment__circle {
    -webkit-transform-origin: 180px;
            transform-origin: 180px;
    left: -30px;
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 375px) {
  .coomments__container {
    margin-top: 30px;
    margin-bottom: 45px;
  }
  .comments {
    width: 250px;
    height: 250px;
    margin-top: 20px;
  }
  .cimment__circle {
    -webkit-transform-origin: 150px;
            transform-origin: 150px;
    left: -27.5px;
    width: 60px;
    height: 60px;
  }
  .cimment__circle svg {
    width: 20px;
    height: 20px;
  }
  .comment__center {
    width: 120px;
    height: 120px;
  }
  .comment__center svg {
    width: 50px;
    height: 50px;
  }
}
