.footer__container {
  background: #200049;
  margin-top: 150px;
}

.footer {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.dc_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dc_logo p {
  font-style: normal;
  font-weight: 700;
  font-size: 36.4575px;
  line-height: 30px;
  color: #FFFFFF;
  margin-left: 3px;
}

.footer__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0.2;
      -ms-flex-positive: 0.2;
          flex-grow: 0.2;
}

@media (max-width: 800px) {
  .footer {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 768px) {
  .footer__container {
    margin-top: 100px;
  }
  .dc_logo img {
    height: 50px;
  }
  .dc_logo p {
    font-size: 25px;
    line-height: 22px;
  }
}

@media (max-width: 600px) {
  .footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "f_left f_right" "f_center f_center";
    justify-items: center;
    padding-bottom: 30px;
  }
  .footer__left {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: f_left;
  }
  .footer__right {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: f_right;
  }
  .footer__center {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: f_center;
    width: 260px;
  }
}

@media (max-width: 425px) {
  .footer__container {
    margin-top: 80px;
  }
}

@media (max-width: 375px) {
  .footer {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "f_left" "f_right" "f_center";
    height: 300px;
  }
}
