.jamoa {
  margin: 0 auto;
  padding: 100px 0;
  position: relative;
}

.jamoa__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.5fr;
      grid-template-columns: 1fr 1.5fr;
  z-index: 2;
}

.jamoa__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1920px;
  padding: 0 0 0 150px;
  margin: 0 auto;
  margin-top: 100px;
  position: relative;
}

.jamoa__slider .slider__container {
  width: 100%;
  border: 2px solid rgba(255, 255, 255, 0.15);
  border-width: 2px 0 2px 2px;
  border-radius: 50px 0px 0px 0px;
  padding: 70px 10px 20px 45px;
  z-index: 1;
}

.jamoa__slider::before {
  content: "";
  width: 50%;
  height: 100%;
  background: #138AE0;
  opacity: 0.3;
  -webkit-filter: blur(175px);
          filter: blur(175px);
  position: absolute;
  left: 0;
  top: 0;
}

.jamoa__slider::after {
  content: "";
  width: 40%;
  height: 80%;
  background: #6D13E0;
  opacity: 0.3;
  -webkit-filter: blur(175px);
          filter: blur(175px);
  position: absolute;
  right: 0;
  bottom: -10%;
}

.jamoa_Swiper {
  height: 900px;
  padding-bottom: 50px;
}

.jamoa_Swiper .team__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  border-radius: 35px 0 0 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.jamoa_Swiper .swiper-slide {
  height: 400px;
  width: 400px;
  border-radius: 35px 0 0 0;
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.jamoa_Swiper .swiper-slide::before {
  content: "";
  position: absolute;
  bottom: -180px;
  width: 200%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(30%, #138be0), to(transparent));
  background: linear-gradient(0deg, #138be0 30%, transparent);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 1;
}

.jamoa_Swiper .swiper-slide .div_name {
  position: absolute;
  bottom: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 2;
}

.jamoa_Swiper .swiper-slide .div_name p {
  font-family: 'Alien Robot';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 1px 1px 2px #000;
}

.jamoa_Swiper .swiper-slide .team__skills {
  position: absolute;
  bottom: 0;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.jamoa_Swiper .swiper-slide .team__skills img {
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 40px;
  min-height: 40px;
  margin: 0 5px;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  -o-object-fit: none;
     object-fit: none;
}

.jamoa_Swiper .swiper-slide:hover .team__img {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.jamoa_Swiper .swiper-slide:hover .div_name {
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
}

.jamoa_Swiper .swiper-slide:hover::before {
  bottom: -100px;
}

.jamoa_Swiper .swiper-slide:hover .team__skills img {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.jamoa_Swiper .swiper-button-next {
  top: auto;
  bottom: 0;
  left: 65px;
  background: url(../../assets/icons/arrow_r.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 50px;
}

.jamoa_Swiper .swiper-button-next::after {
  display: none;
}

.jamoa_Swiper .swiper-button-prev {
  top: auto;
  bottom: 0;
  left: 0px;
  background: url(../../assets/icons/arrow_l.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 50px;
}

.jamoa_Swiper .swiper-button-prev::after {
  display: none;
}

.info .jamoa__info span {
  font-size: 16px;
  margin-top: 20px;
}

.info .x__title {
  text-align: left;
  font-size: 35px;
  line-height: 40px;
  margin-bottom: 30px;
}

.info .x__subtitle {
  font-size: 25px;
  line-height: 30px;
  text-align: left;
  color: #CEB3DB;
  margin-bottom: 30px;
}

.info__top {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding-top: 100px;
}

.info__bot {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding-top: 30px;
  padding-bottom: 50px;
}

.info__bot .hamkorlik__right {
  margin-left: 0 !important;
  margin-right: 20px;
}

.i_t__left {
  margin-right: 15px;
}

.i_t__left .jamoa__info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.i_t__right {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: (150px)[4];
      grid-template-rows: repeat(4, 150px);
  grid-gap: 20px;
      grid-template-areas: ". I2"  "I1 I2" "I1 I2" "I1 .";
  margin-left: 15px;
}

.i_t__right img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

.info__img1 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: I1;
}

.info__img2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
  grid-area: I2;
}

.jamoa__info {
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 20px;
}

.jamoa__info h1 {
  font-family: 'Alien Robot';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 51px;
  color: #FFFFFF;
}

.jamoa__info p {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #CEB3DB;
  margin-top: 30px;
}

.jamoa__info span {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #FFFFFF;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.jamoa__info span div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 24px;
  position: relative;
}

.jamoa__info span div::before {
  content: "";
  width: 42px;
  height: 42px;
  background: rgba(173, 162, 242, 0.2);
  display: block;
  position: absolute;
  border-radius: 50%;
  -webkit-animation: check_svg 2s linear infinite alternate;
          animation: check_svg 2s linear infinite alternate;
}

.jamoa__info span svg {
  background: #0066FF;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  z-index: 1;
}

.jamoa__info .info__content {
  margin-top: 50px;
}

.jamoa__info .info__img {
  width: 150px;
  height: 100px;
  margin-bottom: 0;
}

.jamoa__info .info__img img {
  height: 100%;
}

.jamoa__info .info__item p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.jamoa__info .info__item span {
  margin-top: 10px;
  text-align: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@-webkit-keyframes check_svg {
  from {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes check_svg {
  from {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.jamoa__galery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1.2fr;
      grid-template-columns: 1fr 1fr 1.2fr;
  -ms-grid-rows: (95px)[6];
      grid-template-rows: repeat(6, 95px);
      grid-template-areas: "G1 G1 G4"  "G1 G1 G4" "G2 G2 G4" "G2 G2 G5" "G3 G3 G5" "G3 G3 G5";
  grid-gap: 20px;
  -webkit-transition: 0.4s linear;
  transition: 0.4s linear;
  z-index: 2;
}

.jamoa__image {
  width: 100%;
  height: 100%;
  -webkit-transition: 0.4s linear;
  transition: 0.4s linear;
}

.jamoa__image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  -webkit-transition: 0.4s linear;
  transition: 0.4s linear;
}

.jamoa__image:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: G1;
}

.jamoa__image:nth-child(2) {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: G2;
}

.jamoa__image:nth-child(3) {
  -ms-grid-row: 5;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: G3;
}

.jamoa__image:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 3;
  grid-area: G4;
}

.jamoa__image:nth-child(5) {
  -ms-grid-row: 4;
  -ms-grid-row-span: 3;
  -ms-grid-column: 3;
  grid-area: G5;
}

@media (max-width: 1440px) {
  .jamoa__info h1 {
    font-size: 36px;
    line-height: 40px;
  }
  .jamoa__info p {
    font-size: 21px;
    line-height: 30px;
  }
  .info .x__title {
    font-size: 32px;
    line-height: 36px;
  }
  .info .x__subtitle {
    font-size: 22px;
    line-height: 26px;
  }
}

@media (max-width: 1250px) {
  .jamoa__container {
    -ms-grid-columns: 1fr 1.2fr;
        grid-template-columns: 1fr 1.2fr;
  }
  .jamoa__galery {
    grid-gap: 10px;
  }
  .jamoa__info h1 {
    font-size: 32px;
    line-height: 38px;
  }
  .jamoa__info p {
    font-size: 18px;
    line-height: 25px;
    margin-top: 25px;
  }
  .jamoa__info span {
    font-size: 16px;
    line-height: 25px;
  }
  .info__top {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .info .x__title {
    font-size: 30px;
    line-height: 34px;
    margin-bottom: 20px;
  }
  .info .x__subtitle {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;
  }
  .info .jamoa__info span {
    font-size: 14px;
    line-height: 20px;
  }
}

@media (max-width: 1600px) {
  .jamoa__slider {
    padding: 0 0 0 100px;
  }
}

@media (max-width: 1440px) {
  .jamoa__slider {
    padding: 0 0 0 70px;
  }
}

@media (max-width: 1200px) {
  .info__bot {
    margin-left: 30px;
  }
}

@media (max-width: 1024px) {
  .jamoa__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .jamoa__galery {
    margin-top: 50px;
    -ms-grid-rows: (200px)[2];
        grid-template-rows: repeat(2, 200px);
    -ms-grid-columns: 2fr 1.5fr 2fr;
        grid-template-columns: 2fr 1.5fr 2fr;
        grid-template-areas: "G1 G4 G3"  "G2 G4 G5";
  }
  .jamoa__info {
    margin-left: 0;
  }
  .jamoa {
    padding: 70px 0;
  }
  .jamoa__slider {
    padding: 0 0 0 30px;
  }
}

@media (max-width: 990px) {
  .info__top {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .info__bot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 0;
  }
  .info__bot .hamkorlik__right {
    margin-top: 30px;
    margin-left: 25px !important;
  }
  .i_t__right {
    -ms-grid-rows: 600px;
        grid-template-rows: 600px;
        grid-template-areas: "I1 I2";
    margin-top: 30px;
  }
  .jamoa__slider {
    padding: 0 30px;
  }
  .jamoa__slider .slider__container {
    border-width: 2px 0 2px 0;
    border-radius: 0;
    padding: 50px 0 10px 0;
  }
  .jamoa_Swiper {
    border-radius: 0;
  }
  .jamoa_Swiper img {
    border-radius: 0;
  }
}

@media (max-width: 768px) {
  .i_t__right {
    -ms-grid-rows: 500px;
        grid-template-rows: 500px;
  }
  .jamoa__info h1 {
    font-size: 24px;
    line-height: 28px;
  }
  .jamoa__info p {
    font-size: 17px;
    line-height: 23px;
    margin-top: 20px;
  }
  .jamoa__info span {
    font-size: 17px;
    line-height: 23px;
    margin-top: 30px;
  }
  .jamoa__info span svg {
    width: 25px;
    height: 25px;
  }
  .jamoa__info span div {
    margin-right: 20px;
  }
  .jamoa__info span div::before {
    width: 35px;
    height: 35px;
  }
}

@media (max-width: 650px) {
  .jamoa__galery {
    -ms-grid-columns: 1fr 1fr 1.3fr;
        grid-template-columns: 1fr 1fr 1.3fr;
    -ms-grid-rows: (80px)[6];
        grid-template-rows: repeat(6, 80px);
        grid-template-areas: "G1 G1 G4"  "G1 G1 G4" "G2 G2 G4" "G2 G2 G5" "G3 G3 G5" "G3 G3 G5";
  }
  .jamoa_Swiper {
    height: 460px;
  }
  .jamoa_Swiper .swiper-slide-active .team__skills img {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  .jamoa_Swiper .swiper-slide-active .div_name {
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
  }
  .jamoa_Swiper .swiper-slide-active::before {
    bottom: -130px;
  }
}

@media (max-width: 550px) {
  .info__top {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .i_t__right {
    -ms-grid-rows: 400px;
        grid-template-rows: 400px;
  }
}

@media (max-width: 480px) {
  .jamoa__info .info__item {
    -ms-grid-columns: 1fr 1.5fr;
        grid-template-columns: 1fr 1.5fr;
  }
  .jamoa__info .info__content {
    grid-gap: 10px;
    -ms-grid-rows: (100px)[4];
        grid-template-rows: repeat(4, 100px);
  }
}

@media (max-width: 425px) {
  .jamoa__galery {
    -ms-grid-columns: 1fr 1fr 1.4fr;
        grid-template-columns: 1fr 1fr 1.4fr;
    -ms-grid-rows: (60px)[6];
        grid-template-rows: repeat(6, 60px);
  }
  .info .x__title {
    font-size: 22px;
    line-height: 27px;
  }
  .info .x__subtitle {
    font-size: 16px;
  }
  .info .jamoa__info {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .i_t__right {
    grid-gap: 10px;
  }
  .jamoa__slider {
    padding: 0 10px;
  }
}

@media (max-width: 375px) {
  .jamoa__galery {
    -ms-grid-rows: (55px)[6];
        grid-template-rows: repeat(6, 55px);
  }
  .jamoa__info h1 {
    font-size: 18px;
    line-height: 22px;
  }
  .jamoa__info p, .jamoa__info span {
    font-size: 14px;
    line-height: 17px;
  }
  .jamoa__info p div, .jamoa__info span div {
    margin-right: 15px;
  }
  .jamoa {
    padding: 30px 0;
  }
  .info .x__title {
    font-size: 18px;
    line-height: 22px;
  }
  .info .x__subtitle {
    font-size: 14px;
    line-height: 18px;
  }
  .info__top {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .i_t__right {
    -ms-grid-rows: (250px)[1];
        grid-template-rows: repeat(1, 250px);
  }
  .jamoa_Swiper {
    height: 400px;
  }
  .jamoa_Swiper .swiper-slide {
    height: 350px;
  }
  .jamoa_Swiper .swiper-slide .team__skills img {
    width: 32px;
    height: 32px;
    -o-object-fit: contain;
       object-fit: contain;
    margin: 0 4px;
  }
}
