.jarayon {
  margin-top: 100px;
}

.jarayon__top__title {
  font-family: 'Alien Robot';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
  color: #FFFFFF;
}

.jarayon__content {
  margin-top: 70px;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.jarayon__content h1 {
  font-family: 'Alien Robot';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  color: #FFFFFF;
}

.jarayon__content p {
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  color: #CEB3DB;
  margin-top: 30px;
}

.j_top {
  -ms-grid-columns: 1fr 1.2fr;
      grid-template-columns: 1fr 1.2fr;
}

.j_bot {
  -ms-grid-columns: 1.2fr 1fr;
      grid-template-columns: 1.2fr 1fr;
  margin-top: 100px;
}

.j_bot img {
  width: 100%;
}

#tsparticles_polygon {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  top: 0;
  left: 0;
  -webkit-animation: roteteLeft 60s linear infinite;
          animation: roteteLeft 60s linear infinite;
}

#tsparticles_polygon canvas {
  border-radius: 50%;
  border: 1px solid white;
}

.jarayon__top__polygon {
  height: 450px;
  width: 450px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: rotateRight 60s linear infinite;
          animation: rotateRight 60s linear infinite;
}

.jarayon__top__polygon svg {
  width: 100%;
  height: 100%;
}

.j_t_center {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 37px;
  color: #FFFFFF;
  background: #0455CF;
  -webkit-box-shadow: inset -6px -5px 20px rgba(0, 0, 0, 0.25), inset 15px 35px 20px rgba(5, 0, 255, 0.25);
          box-shadow: inset -6px -5px 20px rgba(0, 0, 0, 0.25), inset 15px 35px 20px rgba(5, 0, 255, 0.25);
  width: 200px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: roteteLeft 60s linear infinite;
          animation: roteteLeft 60s linear infinite;
}

.j_circle {
  border-radius: 50%;
  position: absolute;
  width: 135px;
  height: 135px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  z-index: 1;
}

.j_circle span {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  color: #FFFFFF;
  background: rgba(156, 13, 223, 0.3);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border-radius: 50%;
  border: 1px solid white;
  -webkit-animation: roteteLeft 60s linear infinite;
          animation: roteteLeft 60s linear infinite;
}

.j_circle::before {
  content: "";
  position: absolute;
  background: #465BA7;
  height: 30px;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.j_circle::after {
  content: "";
  width: 60%;
  height: 60%;
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background: #465BA7;
}

.j_1 {
  top: -30px;
  right: 0;
}

.j_1::before {
  width: 120px;
  -webkit-transform: translateY(70px) translateX(-60px) rotate(-50deg);
          transform: translateY(70px) translateX(-60px) rotate(-50deg);
  -webkit-transform-origin: center;
          transform-origin: center;
}

.j_2 {
  bottom: 30px;
  right: -20px;
}

.j_2::before {
  width: 95px;
  -webkit-transform: translateY(-45px) translateX(-66px) rotate(36deg);
          transform: translateY(-45px) translateX(-66px) rotate(36deg);
  -webkit-transform-origin: center;
          transform-origin: center;
}

.j_3 {
  bottom: -60px;
}

.j_3::before {
  width: 90px;
  -webkit-transform: translateY(-80px) rotate(90deg);
          transform: translateY(-80px) rotate(90deg);
  -webkit-transform-origin: center;
          transform-origin: center;
}

.j_4 {
  bottom: 50px;
  left: -50px;
}

.j_4::before {
  width: 110px;
  -webkit-transform: translateY(-40px) translateX(75px) rotate(-28deg);
          transform: translateY(-40px) translateX(75px) rotate(-28deg);
  -webkit-transform-origin: center;
          transform-origin: center;
}

.j_5 {
  top: 0px;
  left: 10px;
}

.j_5::before {
  width: 95px;
  -webkit-transform: translateY(55px) translateX(52px) rotate(47deg);
          transform: translateY(55px) translateX(52px) rotate(47deg);
  -webkit-transform-origin: center;
          transform-origin: center;
}

.j_t_right {
  margin-left: 20px;
}

@media (max-width: 1440px) {
  .j_t_right {
    margin-left: 50px;
  }
}

@media (max-width: 1300px) {
  .j_t_right {
    margin-left: 60px;
  }
  .jarayon__content h1 {
    font-size: 29px;
    line-height: 34px;
  }
  .jarayon__content p {
    font-size: 20px;
    line-height: 27px;
  }
}

@media (max-width: 1250px) {
  .jarayon__top__polygon {
    width: 400px;
    height: 400px;
  }
  .j_t_center {
    font-size: 23px;
    width: 170px;
    height: 170px;
  }
  .j_circle {
    width: 115px;
    height: 115px;
  }
  .j_circle span {
    font-size: 18px;
    line-height: 20px;
  }
}

@media (max-width: 1070px) {
  .j_top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .jarayon__bot {
    padding-top: 90px;
  }
  .jarayon__top__polygon {
    -webkit-transform: translateY(90px);
            transform: translateY(90px);
  }
  .j_t_right {
    margin-left: 0;
  }
}

@media (max-width: 900px) {
  .j_bot {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    justify-items: center;
  }
  .j_bot img {
    width: 70%;
  }
  .j_b_right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 30px;
  }
}

@media (max-width: 768px) {
  .jarayon__top__title {
    font-size: 32px;
    line-height: 40px;
  }
  .jarayon__content h1 {
    font-size: 24px;
    line-height: 28px;
  }
  .jarayon__content p {
    font-size: 17px;
    line-height: 23px;
    margin-top: 20px;
  }
}

@media (max-width: 650px) {
  .jarayon__top__polygon {
    width: 70vw;
    height: 70vw;
  }
  .jarayon {
    margin-top: 50px;
  }
  .jarayon__top__title {
    font-size: 24px;
    line-height: 30px;
  }
  .jarayon__content h1 {
    font-size: 21px;
    line-height: 25px;
  }
  .j_circle::before {
    width: 180px;
  }
}

@media (max-width: 515px) {
  .j_circle {
    width: 95px;
    height: 95px;
  }
  .j_circle span {
    font-size: 15px;
    line-height: 18px;
  }
  .j_circle::before {
    height: 25px;
  }
  .j_t_center {
    font-size: 18px;
    width: 140px;
    height: 140px;
  }
}

@media (max-width: 425px) {
  .j_t_center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 110px;
    height: 110px;
    text-align: center;
    line-height: 20px;
  }
  .j_4::before {
    -webkit-transform: translateY(-25px) translateX(72px) rotate(-21deg);
            transform: translateY(-25px) translateX(72px) rotate(-21deg);
  }
}

@media (max-width: 375px) {
  .jarayon__top__polygon {
    width: 90vw;
    height: 90vw;
    -webkit-transform: translateY(65px);
            transform: translateY(65px);
  }
  .j_1 {
    top: 0;
  }
  .j_1::before {
    -webkit-transform: translateY(70px) translateX(-65px) rotate(-45deg);
            transform: translateY(70px) translateX(-65px) rotate(-45deg);
  }
  .j_2 {
    right: -10px;
  }
  .j_4 {
    left: -10px;
  }
  .j_4::before {
    -webkit-transform: translateY(-41px) translateX(69px) rotate(-31deg);
            transform: translateY(-41px) translateX(69px) rotate(-31deg);
  }
  .j_circle span {
    font-size: 13px;
    font-weight: 600;
  }
  .j_circle::before {
    height: 20px;
    width: 100px;
  }
  .j_top {
    margin-top: 40px;
  }
  .j_bot img {
    width: 90%;
  }
  .jarayon__content h1 {
    font-size: 18px;
    line-height: 22px;
  }
  .jarayon__content p {
    font-size: 14px;
    line-height: 17px;
  }
}
