.navbar__fixed {
  height: 110px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  -webkit-transition: 0.4s linear;
  transition: 0.4s linear;
}

.nav__scrolled {
  position: fixed;
  background: #000000bb;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.navbar a, .navbar button {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.9);
}

.navbar a:hover, .navbar button:hover {
  color: #40a9ff;
}

.navbar .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0.1;
      -ms-flex-positive: 0.1;
          flex-grow: 0.1;
}

.navbar .link {
  border: 1px solid #ffffff;
  padding: 11px 20px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo p {
  font-family: 'abnes';
  font-style: normal;
  font-weight: 400;
  font-size: 27.7074px;
  line-height: 85.54%;
  color: #FFFFFF;
  margin-left: 10px;
}

.burger__btn {
  display: none;
}

.nav__dropdown {
  background: rgba(43, 2, 57, 0.7);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border-radius: 5px;
  border: 1px solid #FFFFFF;
}

.nav__dropdown li {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
}

.nav__dropdown a:hover {
  color: black;
}

.menu2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.menu3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 1440px) {
  .navbar .nav {
    -webkit-box-flex: 0.3;
        -ms-flex-positive: 0.3;
            flex-grow: 0.3;
  }
}

@media (max-width: 1024px) {
  .logo svg {
    height: 50px;
  }
  .logo p {
    font-size: 24px;
    line-height: 24px;
    margin-left: 2px;
  }
  .navbar a {
    font-size: 16px;
  }
  .navbar .link {
    padding: 8px 15px;
  }
}

@media (max-width: 1000px) {
  .navbar .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -100%;
    background: rgba(0, 0, 0, 0.61);
    height: 100vh;
    padding: 50px 20px;
    -webkit-transition: 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  .navbar .nav a {
    margin: 7px 0;
    z-index: 2;
  }
  .navbar .nav::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.61);
    top: 0;
  }
  .burger__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 40px;
    width: 40px;
    background: none;
    border: none;
    z-index: 10;
    -webkit-transition: 0.4s linear;
    transition: 0.4s linear;
  }
  .burger__btn span {
    display: block;
    width: 30px;
    height: 3px;
    background: white;
    margin: 3px 0;
    border-radius: 10px;
    -webkit-transition: 0.4s linear;
    transition: 0.4s linear;
  }
  .nav__show {
    right: 0 !important;
  }
  .burger__close {
    -webkit-transform: translateX(20px) translateY(-20px);
            transform: translateX(20px) translateY(-20px);
    position: relative;
  }
  .burger__close span {
    position: absolute;
  }
  .burger__close span:nth-child(1) {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .burger__close span:nth-child(2) {
    -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
    opacity: 0;
  }
  .burger__close span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .nav__close {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(255, 255, 255, 0.164);
    -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
    z-index: -1;
    -webkit-transition: 0.6s linear;
    transition: 0.6s linear;
    display: none;
  }
  .nav__opened {
    display: block;
  }
  #blur__off {
    -webkit-backdrop-filter: none !important;
            backdrop-filter: none !important;
    -webkit-transition: 0s;
    transition: 0s;
  }
}

@media (max-width: 768px) {
  .logo svg {
    height: 40px;
  }
  .logo p {
    font-size: 18px;
    margin-left: 0px;
  }
  .navbar__fixed {
    height: 75px;
  }
}

@media (max-width: 425px) {
  .burger__close {
    -webkit-transform: translateX(10px) translateY(-10px);
            transform: translateX(10px) translateY(-10px);
  }
  .navbar__fixed {
    height: 70px;
  }
  .logo svg {
    height: 40px;
  }
  .logo p {
    font-size: 16px;
    line-height: 18px;
  }
}
