@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
.portfolio__page {
  padding-top: 200px;
}

.portfolio__galery {
  position: relative;
}

.portfolio__galery h1 {
  font-family: 'Alien Robot';
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 51px;
  color: #FFFFFF;
}

.portfolio__filter {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.filter__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.filter__btn button {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  padding: 20px 35px;
  background: rgba(0, 102, 255, 0.2);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  outline: none;
  border: none;
}

.filter__results {
  margin-top: 100px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (200px)[auto-fit];
      grid-template-rows: repeat(auto-fit, 200px);
  grid-auto-rows: 200px;
  grid-gap: 30px;
}

.filter__results .filter__item:nth-child(14n+1) {
  grid-column: span 2;
  grid-row: span 2;
}

.filter__results .filter__item:nth-child(14n+2) {
  grid-column: span 1;
  grid-row: span 1;
}

.filter__results .filter__item:nth-child(14n+3) {
  grid-column: span 1;
  grid-row: span 1;
}

.filter__results .filter__item:nth-child(14n+4) {
  grid-column: span 2;
  grid-row: span 2;
}

.filter__results .filter__item:nth-child(14n+5) {
  grid-column: span 2;
  grid-row: span 2;
}

.filter__results .filter__item:nth-child(14n+6) {
  grid-column: span 1;
  grid-row: span 1;
}

.filter__results .filter__item:nth-child(14n+7) {
  grid-column: span 1;
  grid-row: span 1;
}

.filter__results .filter__item:nth-child(14n+8) {
  grid-column: span 1;
  grid-row: span 1;
}

.filter__results .filter__item:nth-child(14n+9) {
  grid-column: span 1;
  grid-row: span 1;
}

.filter__results .filter__item:nth-child(14n+10) {
  grid-column: span 2;
  grid-row: span 2;
}

.filter__results .filter__item:nth-child(14n+11) {
  grid-column: span 2;
  grid-row: span 2;
}

.filter__results .filter__item:nth-child(14n+12) {
  grid-column: span 2;
  grid-row: span 2;
}

.filter__results .filter__item:nth-child(14n+13) {
  grid-column: span 1;
  grid-row: span 1;
}

.filter__results .filter__item:nth-child(14n+14) {
  grid-column: span 1;
  grid-row: span 1;
}

.filter__item {
  cursor: pointer;
  overflow: hidden;
  border-radius: 16px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100% !important;
  height: 100% !important;
}

.filter__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.filter__item p {
  position: absolute;
  z-index: 1;
  color: white;
}

.filter__item .f_i_title {
  top: 0px;
  left: 0px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(125px);
          backdrop-filter: blur(125px);
  border-radius: 0 0 10px 0;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  opacity: 0;
}

.filter__item .f_i_description {
  bottom: 0px;
  right: 0px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 110%;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(125px);
          backdrop-filter: blur(125px);
  border-radius: 10px 0 0 0;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  opacity: 0;
}

.filter__item .f_i_arrow {
  width: 80px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  border-radius: 50%;
  font: 300 1.55rem/1.4 "Josefin Sans";
  text-transform: uppercase;
  letter-spacing: 0.1175em;
  word-spacing: 0.3em;
  opacity: 0;
}

.filter__item .f_i_arrow .link__svg {
  width: 100%;
  height: auto;
  transform-box: fill-box;
  fill: #fff;
  stroke: #fff;
  stroke-width: 0.05em;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.filter__item .f_i_arrow .link__svg .link__text {
  -webkit-animation: rotate normal infinite 12s linear;
          animation: rotate normal infinite 12s linear;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  text-shadow: 1px 1px 0px black, -1px 1px 0px black, 1px -1px 0px black, -1px -1px 0px black;
}

.filter__item .f_i_arrow .link__svg .link__arrow {
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform: scale(2);
          transform: scale(2);
  stroke: #0066FF;
  stroke-width: 3.5px;
}

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.filter__item:hover {
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.filter__item:hover img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.filter__item:hover .f_i_arrow {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  opacity: 1;
}

.filter__item:hover .f_i_title {
  padding: 10px 5px 5px 10px;
  opacity: 1;
}

.filter__item:hover .f_i_description {
  padding: 5px 10px 10px 5px;
  opacity: 1;
}

.portfolio__slider {
  max-width: 1920px;
  margin: 100px auto;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.portfolio__slider .slider__container {
  width: 100%;
  height: 500px;
}

.portfolio__slider .swiper-slide {
  height: 100%;
}

.portfolio__slider .swiper-button-next {
  top: 20px;
  right: 65px;
  background: url(../../assets/icons/arrow_r.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 50px;
}

.portfolio__slider .swiper-button-next::after {
  display: none;
}

.portfolio__slider .swiper-button-prev {
  top: 20px;
  left: auto;
  right: 130px;
  background: url(../../assets/icons/arrow_l.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 50px;
}

.portfolio__slider .swiper-button-prev::after {
  display: none;
}

.portfolio__slider .comment_Swiper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  padding-top: 60px;
}

.portfolio__slider .comment_Swiper .user__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio__slider .comment_Swiper .user__info div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 10px;
}

.portfolio__slider .comment_Swiper h3 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  color: #FFFFFF;
  margin-bottom: 40px;
}

.portfolio__slider .comment_Swiper p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  color: #FFFFFF;
}

.portfolio__slider .comment_Swiper span {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 150%;
  color: #ffffffa6;
}

.comment__item {
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px;
  border: solid #FFFFFF;
  border-width: 1px 1px 0 0;
  border-radius: 0 30px 0 0;
}

.comment__item img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.paginations {
  margin-top: 50px;
}

.paginations .ant-pagination-jump-next,
.paginations .ant-pagination-jump-prev,
.paginations .ant-pagination-next,
.paginations .ant-pagination-prev {
  min-width: 25px;
}

.paginations .ant-pagination-jump-next button,
.paginations .ant-pagination-jump-prev button,
.paginations .ant-pagination-next button,
.paginations .ant-pagination-prev button {
  background: rgba(0, 102, 255, 0.2);
  border: none;
  color: white;
}

.paginations .ant-pagination-item {
  background: rgba(0, 102, 255, 0.2);
  border: none;
}

.paginations .ant-pagination-item a {
  color: white;
}

.paginations .ant-pagination-item-ellipsis {
  color: white !important;
}

.modal__video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-height: calc(90vh - 72px);
  height: auto;
  max-width: 80vw;
  background: white;
}

.modal__video video {
  height: 100%;
  max-height: calc(90vh - 72px);
  max-width: 80vw;
  border-radius: 10px;
}

#modal__overlay {
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(125px);
          backdrop-filter: blur(125px);
}

.modal__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90vw;
  height: 80vh;
  background: white;
  border-radius: 16px;
}

.mySwiper__modal {
  height: 80vh;
  padding: 30px 50px 50px 50px;
}

.mySwiper__modal .swiper-button-next::after, .mySwiper__modal .swiper-button-prev::after {
  color: #0066FF;
}

.mySwiper__modal img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
  width: auto;
  border-radius: 25px;
  background: white;
}

.mySwiper__modal .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  border-radius: 20px;
}

@media (max-width: 1440px) {
  .filter__btn button {
    padding: 15px 30px;
    font-size: 16px;
  }
}

@media (max-width: 1024px) {
  .modal__slider {
    height: 85vh;
  }
  .modal__video {
    max-width: 90vw;
  }
  .modal__video video {
    max-width: 90vw;
  }
  .portfolio__galery h1 {
    font-size: 38px;
    line-height: 101%;
  }
  .filter__results {
    grid-gap: 20px;
  }
  .portfolio__slider .comment_Swiper h3 {
    font-size: 21px;
  }
  .portfolio__slider .comment_Swiper p {
    font-size: 18px;
  }
  .portfolio__slider .comment_Swiper span {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .modal__slider {
    height: 100%;
  }
  .mySwiper__modal {
    height: 100%;
  }
  .modal__video {
    max-width: 95vw;
  }
  .modal__video video {
    max-width: 95vw;
  }
  .filter__results {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    margin-top: 50px;
  }
  .portfolio__page {
    padding-top: 100px;
  }
  .portfolio__filter {
    margin-top: 30px;
  }
  .filter__btn button {
    padding: 10px 20px;
    font-size: 15px;
    line-height: 100%;
  }
  .portfolio__slider .slider__container {
    height: 450px;
  }
  .portfolio__slider .comment_Swiper h3 {
    font-size: 19px;
  }
  .portfolio__slider .comment_Swiper p {
    font-size: 17px;
  }
  .portfolio__slider .comment_Swiper span {
    font-size: 12px;
  }
}

@media (max-width: 600px) {
  .modal__slider {
    height: 400px;
    width: 99vw;
  }
}

@media (max-width: 425px) {
  .modal__slider {
    height: 350px;
  }
  .mySwiper__modal {
    padding: 20px 30px 30px 30px;
  }
  .portfolio__galery h1 {
    font-size: 30px;
  }
  .filter__results {
    margin-top: 20px;
    grid-gap: 10px;
  }
  .portfolio__slider {
    margin: 50px auto;
  }
  .portfolio__slider .slider__container {
    height: 400px;
  }
  .portfolio__slider .comment_Swiper h3 {
    font-size: 16px;
  }
  .portfolio__slider .comment_Swiper p {
    font-size: 15px;
  }
  .portfolio__slider .comment_Swiper span {
    font-size: 12px;
    font-weight: 400;
  }
  .comment__item {
    padding: 20px;
  }
  .comment__item img {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 375px) {
  .modal__slider {
    height: 300px;
  }
  .filter__btn button {
    font-size: 13px;
  }
  .filter__results {
    grid-gap: 5px;
  }
  .portfolio__slider {
    margin: 30px auto;
  }
}

@media (max-width: 320px) {
  .modal__slider {
    height: 270px;
  }
}
