.savollar__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.savollar {
  max-width: 1300px;
  width: 100%;
  background: none;
  border: none;
}

.savollar .ant-collapse-item {
  border: none;
  margin-bottom: 10px;
  border: 1px solid #0066FF;
  border-radius: 30px !important;
  overflow: hidden;
}

.savollar .ant-collapse-header {
  background: #3A1163;
  overflow: hidden;
  padding: 12px 55px 12px 16px !important;
}

.savollar .ant-collapse-header-text {
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #FFFFFF;
}

.savollar .ant-collapse-content-box {
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.savollar .ant-collapse-arrow {
  background: rgba(0, 102, 255, 0.3);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.savollar .ant-collapse-arrow svg {
  fill: #FFFFFF;
  width: 17px;
  height: 17px;
}

.savollar .ant-collapse-content {
  background: #3A1163;
  border: 0px solid #0066FF;
}

@media (max-width: 1024px) {
  .savollar .ant-collapse-header-text {
    font-size: 16px;
    line-height: 20px;
  }
  .savollar .ant-collapse-content-box {
    font-size: 14px;
    line-height: 18px;
  }
}

@media (max-width: 425px) {
  .savollar .ant-collapse-header-text {
    font-size: 14px;
  }
  .savollar .ant-collapse-content-box {
    font-size: 12px;
  }
  .savollar .ant-collapse-item {
    margin-bottom: 5px;
  }
  .savollar .ant-collapse-header {
    padding: 12px 50px 12px 16px !important;
  }
  .savollar .ant-collapse-arrow {
    width: 30px;
    height: 30px;
  }
  .savollar .ant-collapse-arrow svg {
    width: 13px;
    height: 13px;
  }
}
