.texnologiyalar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.texnologiyalar .h1__title {
  margin-bottom: 40px;
}

.texnologiyalar .h2__title {
  margin-bottom: 70px;
}

.tech__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  width: 100%;
}

.tech__item {
  border-radius: 9px;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(125px);
          backdrop-filter: blur(125px);
  backdrop-filter: blur(125px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  position: relative;
  overflow: hidden;
}

.tech__item p {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 30px;
}

.tech__item::before {
  content: "";
  width: 40%;
  height: 100%;
  -webkit-filter: blur(175px);
          filter: blur(175px);
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  -webkit-animation: color_blur6 5s linear infinite alternate;
          animation: color_blur6 5s linear infinite alternate;
}

.tech__item::after {
  content: "";
  width: 40%;
  height: 70%;
  -webkit-filter: blur(175px);
          filter: blur(175px);
  position: absolute;
  right: 0;
  bottom: -10%;
  z-index: -1;
  -webkit-animation: color_blur4 5s linear infinite alternate;
          animation: color_blur4 5s linear infinite alternate;
}

.tech__item:nth-child(4n+1)::after {
  background: #138AE0;
}

.tech__item:nth-child(4n+1)::before {
  background: #6D13E0;
}

.tech__item:nth-child(4n+2)::after {
  background: #E05D13;
}

.tech__item:nth-child(4n+2)::before {
  background: #13A3E0;
}

.tech__item:nth-child(4n+3)::after {
  background: #5413E0;
}

.tech__item:nth-child(4n+3)::before {
  background: #E04413;
}

.tech__item:nth-child(4n+4)::after {
  background: #13BBE0;
}

.tech__item:nth-child(4n+4)::before {
  background: #F02F75;
}

.techs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px 5px;
  justify-items: left;
  width: 90%;
}

.techs div {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.techs div img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 50px;
}

.techs div span {
  width: 55px;
}

.contact__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 70px;
}

@media (max-width: 1440px) {
  .tech__items {
    grid-gap: 30px;
  }
  .tech__item P {
    font-size: 35px;
    line-height: 40px;
  }
}

@media (max-width: 1120px) {
  .tech__items {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .techs {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 768px) {
  .techs {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .home__page .texnologiyalar {
    margin-top: 70px;
  }
}

@media (max-width: 570px) {
  .techs {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
  .techs div {
    font-size: 16px;
  }
}

@media (max-width: 425px) {
  .tech__item {
    padding: 20px;
  }
  .tech__item P {
    font-size: 30px;
    line-height: 35px;
  }
  .techs div {
    font-size: 14px;
    line-height: 20px;
  }
  .techs div img {
    max-width: 40px;
  }
  .techs div span {
    width: 45px;
  }
  .home__page .texnologiyalar {
    margin-top: 50px;
  }
}

@media (max-width: 375px) {
  .tech__item {
    padding: 20px 10px;
  }
  .tech__item p {
    font-size: 24px;
    line-height: 30px;
  }
  .home__page .texnologiyalar {
    margin-top: 40px;
  }
}
