.texnologiyalat {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.texnologiyalat .h1__title {
  margin-bottom: 40px;
}

.texnologiyalat .h2__title {
  margin-bottom: 70px;
}

.tech__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  width: 100%;
}

.tech__item {
  border-radius: 9px;
  background: url(../../assets/images/tech/tech_bg.webp);
  background-position: center;
  background-size: cover;
  border: 1px solid #0066FF;
  -webkit-backdrop-filter: blur(125px);
          backdrop-filter: blur(125px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.tech__item p {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 30px;
}

.techs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px 5px;
  justify-items: left;
  width: 90%;
}

.techs div {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.techs div img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 50px;
}

.techs div span {
  width: 55px;
}

.contact__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 70px;
}

.contact__link a {
  background: #0066FF;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 5px;
  padding: 15px 35px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}

.b_texnologiyalar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
  background: url(../../assets/images/tech_bg.webp);
  background-position: center;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 50px;
}

.b_tech__item {
  background: #3A1163;
  border: 1px solid #0066FF;
  border-radius: 10px;
}

@media (max-width: 1440px) {
  .tech__items {
    grid-gap: 30px;
  }
  .tech__item P {
    font-size: 35px;
    line-height: 40px;
  }
}

@media (max-width: 1120px) {
  .tech__items {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .techs {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 768px) {
  .techs {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .texnologiyalat {
    margin-top: 70px;
  }
}

@media (max-width: 570px) {
  .techs {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
  .techs div {
    font-size: 16px;
  }
}

@media (max-width: 425px) {
  .tech__item {
    padding: 20px;
  }
  .tech__item P {
    font-size: 30px;
    line-height: 35px;
  }
  .techs div {
    font-size: 14px;
    line-height: 20px;
  }
  .techs div img {
    max-width: 40px;
  }
  .techs div span {
    width: 45px;
  }
  .texnologiyalat {
    margin-top: 50px;
  }
  .contact__link a {
    font-size: 16px;
  }
}

@media (max-width: 375px) {
  .tech__item {
    padding: 20px 10px;
  }
  .tech__item p {
    font-size: 24px;
    line-height: 30px;
  }
  .texnologiyalat {
    margin-top: 40px;
  }
}
