.vakansiya__page {
  margin-top: 200px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.vakansiya__page .vacansy__svg {
  position: absolute;
  top: 120px;
  width: 98%;
}

.vacancys {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "v1 v2";
  z-index: 1;
  grid-gap: 50px;
}

.vacancys:nth-child(2n+1) {
      grid-template-areas: "v2 v1";
}

.vacancys:nth-child(2n+1) .vacancy__btn {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.vacancy__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: v1;
  position: relative;
}

.vacancy__left .ant-skeleton {
  width: 75%;
}

.vacancy__left h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  text-transform: uppercase;
}

.vacancy__left::before {
  content: "";
  position: absolute;
  width: 70%;
  height: 70%;
  opacity: 0.4;
  -webkit-filter: blur(175px);
          filter: blur(175px);
  background: #138AE0;
  z-index: -1;
  right: 0;
  top: 0;
}

.vacancy__left::after {
  content: "";
  position: absolute;
  width: 70%;
  height: 70%;
  opacity: 0.4;
  -webkit-filter: blur(175px);
          filter: blur(175px);
  background: #6D13E0;
  z-index: -2;
  left: 0;
  bottom: 0;
}

.vacancy__right {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: v2;
}

.vacancy__right h1 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 77px;
  color: #FFFFFF;
  margin-bottom: 80px;
}

.vacancy__right p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 150%;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.vacancy__right span {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #FFFFFF;
}

.vacancy__right .vacancy__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 20px;
}

.vacancy__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.vacancy__btn button {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  padding: 20px 35px;
  background: none;
  margin-top: 50px;
  cursor: pointer;
}

@media (max-width: 1920px) {
  .vacancy__left h1 {
    font-size: calc(7vw);
  }
}

@media (max-width: 1440px) {
  .vacancys {
    -ms-grid-columns: 1fr 1.2fr;
        grid-template-columns: 1fr 1.2fr;
  }
  .vacancys:nth-child(2n+1) {
    -ms-grid-columns: 1.2fr 1fr;
        grid-template-columns: 1.2fr 1fr;
  }
}

@media (max-width: 1024px) {
  .vakansiya__page {
    margin-top: 100px !important;
  }
  .vakansiya__page .vacansy__svg {
    top: 80px;
  }
  .vacancys, .vacancys:nth-child(2n+1) {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "v1" "v2";
  }
  .vacancys {
    margin-bottom: 20px;
    position: relative;
    padding: 10px;
  }
  .vacancys::before {
    content: "";
    width: 100%;
    height: 50%;
    bottom: 0;
    position: absolute;
    right: 0;
    border: solid white;
    border-width: 0 1px 1px 0;
    z-index: -1;
  }
  .vacancy__btn {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    margin-bottom: 20px;
  }
  .vacancy__btn button {
    margin-top: 30px;
  }
  .vacancy__right h1 {
    margin-bottom: 50px;
  }
}

@media (max-width: 768px) {
  .vakansiya__page .vacansy__svg {
    top: 40px;
  }
  .vacancys {
    grid-gap: 10px;
  }
  .vacancy__right .vacancy__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .vacancy__right h1 {
    margin-bottom: 30px;
    font-size: 40px;
    line-height: 48px;
  }
  .vacancy__right p {
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 28px;
  }
  .vacancy__right span {
    font-size: 17px;
    line-height: 21px;
  }
  .vacancy__btn button {
    font-size: 16px;
    padding: 15px 30px;
  }
  .vacancy__left h1 {
    font-size: calc(9vw);
  }
}

@media (max-width: 425px) {
  .vakansiya__page {
    margin-top: 70px !important;
  }
  .vakansiya__page .vacansy__svg {
    top: 0px;
  }
  .vacancy__right h1 {
    font-size: 35px;
    line-height: 40px;
  }
  .vacancy__right p {
    font-size: 22px;
    line-height: 25px;
  }
  .vacancy__right span {
    font-size: 14px;
    line-height: 18px;
  }
  .vacancy__btn button {
    font-size: 15px;
    padding: 10px 30px;
  }
  .vacancy__left h1 {
    font-size: calc(10vw);
  }
}

@media (max-width: 375px) {
  .vakansiya__page {
    margin-top: 50px !important;
  }
  .vacancy__right h1 {
    font-size: 25px;
    line-height: 30px;
  }
  .vacancy__right p {
    font-size: 18px;
    line-height: 22px;
  }
  .vacancy__right span {
    font-size: 12px;
    line-height: 12px;
  }
}
