.info__block{
  background: #3A1163;
  margin: 0 auto;
  margin-top: 80px;
  padding: 70px 0;
}
.info__container{
  display: flex;
  flex-direction: column;
  align-items: center;
  h1{
    font-family: 'Alien Robot';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 48px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 40px;
  }
  h2{
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    text-align: center;
    color: #CEB3DB;
    margin-bottom: 80px;
    max-width: 1000px;
  }
}
.info__content{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1000px;
  width: 100%;
}
.info__item{
  display: flex;
  flex-direction: column;
  align-items: center;
  p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 57px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 25px;
  }
  span{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    text-transform: capitalize;
    color: #E3E3E3;
  }
}
.info__img{
  width: 200px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  position: relative;
  &::before{
    content: "";
    width: 100%;
    height: 100%;
    background: radial-gradient( 30% 30% at 50% 50%, #07F0FF 0%, rgba(4, 255, 255, 0) 100%);
    filter: blur(25px);
    position: absolute;
  }
  img{
    z-index: 1;
  }
}
@media (max-width:860px) {
  .info__container{
    h1{
      font-size: 33px;
      line-height: 36px;
      margin-bottom: 30px;
    }
    h2{
      font-size: 22px;
      line-height: 28px;
      margin-bottom: 50px;
    }
  }
  .info__item{
    p{
      font-size: 30px;
    }
    span{
      font-size: 20px;
      line-height: 25px;
    }
  }
  .info__content{
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px 20px;
  }
}
@media (max-width:480px) {
  .info__content{
    grid-template-columns: 1fr;
    grid-gap: 30px;
    grid-template-rows: repeat(4, 150px);
  }
  .info__item{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
      "i_img i_num"
      "i_img i_title"
    ;
    p{
      grid-area: i_num;
      margin-bottom: 0;
    }
    span{
      grid-area:  i_title;
    }
  }
  .info__img{
    grid-area: i_img;
    margin-bottom: 0;
    height: auto;
  }
}
@media (max-width:425px) {
  .info__block{
    margin-top: 50px;
    padding: 50px 0;
  }
  .info__container{
    h1{
      font-size: 26px;
      line-height: 30px;
      margin-bottom: 20px;
    }
    h2{
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 30px;
    }
  }
  .info__item{
    p{
      font-size: 25px;
    }
    span{
      font-size: 18px;
      line-height: 20px;
    }
  }
}
@media (max-width:395px) {
  .info__content{
    grid-template-rows: repeat(4, 130px);
  }
  .info__img{
    height: 130px;
    width: auto;
    img{
      max-height: 150px;
      max-width: 100%;
    }
  }
  .info__item{
    grid-template-columns: 1fr 1.6fr;
  }
  // .info__item{
  //   display: grid;
  //   grid-template-columns: 1fr;
  //   grid-template-areas: 
  //     "i_img"
  //     "i_num"
  //     "i_title"
  //   ;
  //   justify-items: center;
  //   p{
  //     margin-bottom: 20px;
  //   }
  // }
}