.contacts__container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
  position: relative;
}
#Contact{
  position: absolute;
  top: -150px;
}
.contacts{
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1300px;
  justify-items: center;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(125px);
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  &::before{
    animation: color_blur3 5s linear infinite alternate;
    content: "";
    position: absolute;
    width: 40%;
    height: 60%;
    filter: blur(100px);
    background: #138AE0;
    left: 0;
    top: 15%;
    opacity: 0.3;
  }
  &::after{
    animation: color_blur5 5s linear infinite alternate;
    content: "";
    position: absolute;
    width: 40%;
    height: 40%;
    filter: blur(100px);
    top: 30%;
    right: 0;
    background: #6D13E0;
    opacity: 0.3;
  }
}
.contact__info{
  padding: 60px 40px;
  z-index: 2;
  h1{
    font-family: 'Alien Robot';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    color: #FFFFFF;
  }
  p{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 20px;
    margin-top: 50px;
  }
  span{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #CEB3DB;
  }
}
.contact_steps{
  position: relative;
  &::before{
    content: "";
    position: absolute;
    width: 2px;
    height: 160px;
    left: 22.5px;
    top: 32px;
    border: 1px dashed rgba(255, 255, 255, 0.5);
  }
}
.contact_step{
  position: relative;
  padding-left: 70px;
  b{
    position: absolute;
    left: 0px;
    background: #0066FF;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    color: #FFFFFF;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
}
.contact__form{
  // background: url(../../assets/images/contact.webp);
  // background-position: center;
  // background-size: cover;
  z-index: 2;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  border-radius: 0 10px 10px 0;
  padding:0 20px;
  button{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    background: #ffffff00;
    backdrop-filter: blur(0px);
    // border: 1px solid white;
    border: none;
    border-radius: 5px;
    margin-bottom: 30px;
    cursor: pointer;
  }
  form, .form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    width: 100%;
  }
  .form{
    margin-top: 0;
    button{
      width: 220px;
      height: 45px;
      margin-top: 10px;
    }
    span{
      line-height: 0px;
      font-size: 25px;
      color: white;
    }
  }
  p{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 20px;
    margin-top: 50px;
  }
  span{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #CEB3DB;
  }
}
.close__btn{
  position: absolute;
  top: 10px;
  right: 10px;
  background: #ffffff00;
  backdrop-filter: blur(0px);
  border: 1px solid white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  cursor: pointer;
  span{
    font-size: 18px;
    color: white;
  }
}
.inp{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  p{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    margin-bottom: 10px;
  }
  input{
    background: rgba(255, 255, 255, 0);
    // backdrop-filter: blur(2px);
    border: 1px solid white;
    border-radius: 5px;
    outline: none;
    width: 100%;
    height: 45px;
    padding: 0 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    flex-grow: 1;
  }
  div, label{
    margin: 20px 10px;
    width: 100%;
  }
}
.textarea{
  padding: 20px 10px;
  width: 100%;
  p{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    margin-bottom: 10px;
  }
  textarea{
    background: rgba(255, 255, 255, 0);
    // backdrop-filter: blur(2px);
    border: 1px solid white;
    border-radius: 5px;
    outline: none;
    width: 100%;
    height: 200px;
    min-height: 200px;
    max-height: 200px;
    padding: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    &::-webkit-scrollbar {
      width: 0.3em;
      height: 0;
    }
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 2px #3A1163;
      background: rgba(255, 255, 255, 0.76);
    }
    &::-webkit-scrollbar-thumb {
      background-color: #3A1163;
      border-radius: 2px;
    }
  }
}

.contact__modal{
  padding: 30px;
  grid-template-columns: 1fr 1.2fr;
  .contact__info {
    h1{
      font-size: 25px;
      line-height: 130%;
    }
    p{
      font-size: 22px;
      line-height: 120%;
    }
    span{
      font-size: 18px;
      line-height: 120%;
    }
  }
  .contact_steps::before{
    height: 155px;
  }
  .type__file{
    margin-top: 30px;
    label{
      height: 65px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
      color: #FFFFFF;
      border-radius: 5px;
      border-style: dashed;
      border-color: white;
      border-width: 2px;
      cursor: pointer;
      overflow: hidden;
      span{
        margin-left: 10px;
      }
      input{
        border: none;
        display: none;
        // width: calc(100% + 6px);
        // height: calc(100% + 6px);
        // transform: translateX(-3px) translateY(-3px);
        // border-radius: 0;
      }
    }
    
  }
}
// @media (max-width:1310px) {
//   .inp{
//     input{
//       width: 250px;
//     }
//   }
//   .textarea{
//     textarea{
//       width: 520px;
//     }
//   }
// }
// @media (max-width:1150px) {
//   .inp{
//     input{
//       width: 230px;
//     }
//   }
//   .textarea{
//     textarea{
//       width: 480px;
//     }
//   }
// }
@media (max-width:1200px) {
  .contact__modal{
    padding: 30px 15px;
    .contact__info{
      padding: 30px 20px;
    }
  }
}
@media (max-width:1024px) {
  .contact__info{
    h1{
      font-size: 24px;
      line-height: 30px;
    }
    p{
      font-size: 21px;
    }
    span{
      font-size: 16px;
    }
  }
  .contact__form{
    padding: 0 10px;
    p{
      margin-top: 30px;
    }
  }
  .inp{
    div{
      margin: 10px;
    }
  }
}
@media (max-width:990px) {
  .contact__modal{
    grid-template-columns: 1fr;
    padding: 15px;
    .contact_steps::before{
      display: none;
    }
    .contact__form{
      p{
        margin-top: 10px;
      }
    }
  }
}
@media (max-width:930px) {
  .contacts{
    grid-template-columns: 1fr;
  }
  .contact_steps::before{
    height: 130px;
  }
  .contact__form{
    border-radius: 0 0 10px 10px;
  }
}
@media (max-width:768px) {
  .contacts__container{
    margin-top: 80px;
  }
  .contact__info{
    padding: 40px 25px;
    p{
      margin-top: 30px;
      margin-bottom: 15px;
    }
  }
}
@media (max-width:600px) {
  .contact__modal{
    .inp{
      flex-direction: column;
    }
    .contact__info{
      padding: 60px 10px 30px 10px;
      h1{
        font-size: 3vw;
      }
      p{
        font-size: 3vw;
      }
      span{
        font-size: 2.5vw;
      }
    }
    .contact_step{
      b{
        width: 40px;
        height: 40px;
        font-size: 24px;
      }
    }
  }
  // .inp{
  //   display: grid;
  //   grid-template-columns: 1fr 1fr;
  //   width: 100%;
  //   input{
  //     width: 100%;
  //   }
  // }
  // .textarea{
  //   width: 100%;
  //   padding: 20px 10px;
  //   textarea{
  //     width: 100%;
  //   }
  // }
}
@media (max-width:500px) {
  .contact__form{
    p{
      margin-top: 20px;
    }
    form{
      margin-top: 20px;
    }
  }
  .inp{
    flex-direction: column;
    div{
      margin: 10px;
    }
  }
  .textarea{
    margin-bottom: 20px;
    padding: 0;
  }
}
@media (max-width:425px) {
  .contact__modal{
    padding: 10px;
    .contact__info{
      padding: 35px 10px 10px 10px;
    }
    .contact_step{
      b{
        width: 30px;
        height: 30px;
        font-size: 20px;
      }
    }
    .contact__form{
      p{
        font-size: 15px;
        margin-top: 0;
      }
    }
  }
  .contact__info{
    padding:20px;
    h1{
      font-size: 20px;
      line-height: 25px;
    }
    p{
      font-size: 18px;
      margin-top: 20px;
      margin-bottom: 10px;
    }
    span{
      font-size: 14.5px;
      line-height: 20px;
    }
  }
  .contact__form{
    form{
      margin-top: 0px;
    }
    p{
      margin-top: 0px;
    }
  }
  .contact_steps{
    &::before{
      left: 17.5px;
      height: 100px;
      display: flex;
    }
  }
  .contact_step{
    padding-left: 50px;
    b{
      font-size: 26px;
      width: 35px;
      height: 35px;
    }
  }
}
@media (max-width:375px) {
  .contact_steps{
    &::before{
      left: 17.5px;
    }
  }
  .inp, .textarea{
    p{
      font-size: 15px;
    }
    input, textarea{
      font-size: 14px;
    }
  }
}
@media (max-width:340px) {
  .contact__info{
    h1{
      font-size: 16px;
      line-height: 23px;
    }
    p{
      font-size: 16px;
      line-height: 20px;
      margin-top: 20px;
    }
    span{
      font-size: 13px;
      line-height: 16px;
    }
  }
}