.hamkorlik{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  .h1__title{
    text-align: left;
    margin-bottom: 25px;
  }
  .h2__title{
    text-align: left;
    margin-bottom: 60px;
  }
}
.hamkorlik__left{
  margin-right: 50px;
  a{
    background: #0066FF;
    backdrop-filter: blur(5px);
    border-radius: 5px;
    padding: 15px 35px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    margin-top: 30px;
  }
  padding-bottom: 20px;
}
.hamkorlik__right{
  height: 700px;
  width: 700px;
  position: relative;
  margin-left: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  svg{
    path{
      transition: 0.3s linear;
      &:hover{
        fill: #0066FF;
      }
    }
  }
}
.uzb__map{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  img{
    height: 100%;
  }
}
.map__circle{
  position: absolute;
  transform-origin: 430px;
  left: -50px;
  transform: rotate(calc(370deg / var(--l) * var(--i) + 70deg)) ;
  img{
    object-fit: cover;
    transform: rotate(calc(370deg / var(--l) * var(--i) * -1  - 70deg)) ;
  }
}
#tsparticlesMap{
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  top: 0;
  left: 0;
}
@media (max-width:1650px) {
  .hamkorlik{
    .h1__title{
      font-size: 32px;
      line-height: 38px;
    }
    .h2__title{
      font-size: 26px;
      line-height: 32px;
      margin-bottom: 50px;
    }
  }
  .map__circle{
    transform-origin: 340px;
    img{
      width: 180px;
    }
  }
  .hamkorlik__right{
    width: 600px;
    height: 600px;
  }
}
@media (max-width:1290px) {
  .map__circle{
    transform-origin: 290px;
    img{
      width: 150px;
    }
  }
  .hamkorlik__right{
    width: 450px;
    height: 450px;
  }
}
@media (max-width:1075px) {
  .hamkorlik{
    .h1__title{
      font-size: 24px;
      line-height: 30px;
    }
    .h2__title{
      font-size: 22px;
      line-height: 27px;
      margin-bottom: 40px;
    }
  }
  .hamkorlik__left{
    a{
      font-size: 16px;
      padding: 15px 30px;
    }
  }
  .map__circle{
    transform-origin: 250px;
    img{
      width: 120px;
    }
  }
  .hamkorlik__right{
    margin-left: 0;
    width: 400px;
    height: 400px;
  }
}
@media (max-width:970px) {
  .hamkorlik{
    grid-template-columns: 1fr;
    justify-items: center;
    .h1__title, .h2__title{
      text-align: center;
    }
  }
  .hamkorlik__left{
    margin-right: 0;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    a{
      margin-top: 0;
    }
  }
  .map__circle{
    transform-origin: 340px;
    img{
      width: 180px;
    }
  }
  .hamkorlik__right{
    width: 600px;
    height: 600px;
  }
}
@media (max-width:768px) {
  .hamkorlik{
    margin-top: 70px;
  }
  .map__circle{
    transform-origin: 290px;
    img{
      width: 150px;
    }
  }
  .hamkorlik__right{
    width: 450px;
    height: 450px;
  }
}
@media (max-width:600px) {
  .map__circle{
    transform-origin: 250px;
    img{
      width: 120px;
    }
  }
  .hamkorlik__right{
    margin-left: 0;
    width: 400px;
    height: 400px;
  }
}
@media (max-width:500px) {
  .map__circle{
    transform-origin: 48vw;
    img{
      width: 100px;
    }
    left: -30px;
  }
  .hamkorlik__right{
    width: 80vw;
    height: 80vw;
  }
  .hamkorlik{
    margin-top: 50px;
    .h1__title{
      font-size: 22px;
      line-height: 27px;
    }
    .h2__title{
      font-size: 20px;
      line-height: 25px;
    }
  }
}
@media (max-width:375px) {
  .hamkorlik{
    margin-top: 50px;
    .h1__title{
      font-size: 16px;
      line-height: 22px;
    }
    .h2__title{
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 20px;
    }
  }
  .hamkorlik__left{
    a{
      margin-top: 15px;
      font-size: 14px;
      padding: 10px 30px;
    }
  }
  .map__circle{
    img{
      width: 80px;
    }
  }
}
@media (max-width:320px) {

}