.header{
  // background: red;
  z-index: 2;
  padding-top: 110px;
  background: url(../../assets/images/Header_bg.webp);
  background-position: center;
  background-size: cover;
  // height: calc(100vh - 110px);
  height: 900px;
  overflow: hidden;
  position: relative;
}
#tsparticles, #tsparticles2 {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  top: 0;
  left: 0;
}
#tsparticles2{
  display: none;
}
.header__container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1920px;
  padding: 0 150px;
  height: 100%;
  margin: 0 auto; 
  overflow: hidden;
}
.header__left{
  max-width: 800px;
  h1{
    font-family: 'Alien Robot';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 63px;
    color: #FFFFFF;
    margin-bottom: 40px;
  }
  h2{
    font-family: 'Play';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
    margin-bottom: 65px;
  }
  a{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    background: #0066FF;
    backdrop-filter: blur(5px);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 240px;
    height: 60px;
  }
}
.header__right{
  width: 550px;
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 30px;
  svg{
    // position: absolute;
    z-index: 1;
  }
}
.sphere__header{
  position: absolute;
  pointer-events: none;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  img{
    width: 95%;
    height: 95%;
    height: auto;
    animation: sphere 15s linear infinite;
  }
}
@keyframes sphere {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}
.partnyors__container{
  width: 100%;
  background: #33005B;
  padding: 20px 0;
}
.partnyors{
  // width: 500px;
  flex-grow: 0.6;
  height: 75px;
  // background: red;
  a{
    margin: 0 5px;
  }
  img{
    height: 65px;
    transition: .3s ease-in-out;
    &:hover{
      transform: scale(1.05);
    }
  }
}
.brand-wheel {
  flex-direction: row;
  align-items: center;
  display: flex;
  overflow: hidden;
  position: relative;
  height: 75px;
  --animationspeed: 20s;
  --animationdelay: calc(var(--animationspeed) / 2);
  
}
.brand-wheel::before {
  position: absolute;
  background-image: linear-gradient(
    to right,
    #33005B,
    rgba(255, 255, 255, 0) 100%
  );
  content: "";
  height: 100%;
  width: 5%;
  z-index: 2;
  pointer-events: none;
}
.brand-wheel::after {
  position: absolute;
  background-image: linear-gradient(
    to left,
    #33005B,
    rgba(255, 255, 255, 0) 100%
  );
  content: "";
  height: 100%;
  width: 5%;
  z-index: 2;
  pointer-events: none;
  right: 0;
}

.brand-slide {
  flex-shrink: 0;
  position: absolute;
  animation-name: slidelogo;
  animation-duration: var(--animationspeed);
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.brand-slide.delay {
  transform: translateX(100%);
  animation-name: slidelogo2;
}

.brand-wheel:hover .brand-slide {
  animation-play-state: paused;
}
.logo-div {
  display: inline-flex;
  align-self: center;
  animation: fade-in 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
  padding: 0 20px 0 20px;
}

@keyframes slidelogo {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes slidelogo2 {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}
.header__xizmatlar{
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  padding-top: 120px;
  padding-bottom: 50px;
  .header__left{
    h1{
      font-size: 40px;
      line-height: 45px;
      margin-bottom: 20px;
    }
    h2{
      font-size: 30px;
      line-height: 35px;
      margin-bottom: 30px;
    }
    p{
      font-style: normal;
      font-weight: 400;
      font-size: 25px;
      line-height: 30px;
      color: #CEB3DB;
      margin-bottom: 20px;
    }
  }
  .contact__form{
    border-radius: 10px !important;
  }
}
@media (max-width:1600px) {
  .header__container{
    padding: 0 100px;
  }
  .header__right{
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}
@media (max-width:1440px) {
  .header__container{
    padding: 0 70px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .header__left{
    max-width: 700px;
    h1{
      font-size: 45px;
      line-height: 48px;
      margin-bottom: 30px;
    }
    h2{
      font-size: 30px;
      line-height: 36px;
      margin-bottom: 50px;
    }
  }
  .header__xizmatlar{
    grid-template-columns: 1.4fr 1fr;
    .header__left{
      margin-right: 10px;
      h1{
        font-size: 34px;
        line-height: 40px;
      }
      h2{
        font-size: 26px;
        line-height: 30px;
      }
      p{
        font-size: 22px;
        line-height: 28px;
      }
    }
    .contact__form{
      form{
        margin-top: 0;
      }
    }
  }
}
@media (max-width:1200px) {
  .header__container{
    padding: 0 40px;
  }
}
@media (max-width:1115px) {
  .header__xizmatlar{
    .header__left{
      margin-right: 10px;
      h1{
        font-size: 26px;
        line-height: 31px;
      }
      h2{
        font-size: 20px;
        line-height: 25px;
      }
      p{
        font-size: 18px;
        line-height: 24px;
      }
    }
    .contact__form{
      form{
        margin-top: 0;
      }
    }
    .inp, .textarea{
      p{
        margin-top: 10px;
      }
    }
  }
}
@media (max-width:1024px) {
  .header__container{
    padding: 0 30px;
    grid-template-columns: 1.3fr 1fr;
    grid-gap: 10px;
  }
  .header__left{
    h1{
      font-size: 36px;
      line-height: 40px;
    }
    h2{
      font-size: 23px;
      line-height: 30px;
    }
    a{
      width: 220px;
      height: 50px;
      font-size: 17px;
    }
  }
  .sphere__header{
    padding: 10px;
  }
}
@media (max-width:990px) {
  .header__xizmatlar{
    grid-template-columns: 1fr;
    justify-items: center;
    .header__left{
      width: 100%;
      max-width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    h1{
      max-width: 100%;
    }
  }
}
@media (max-width:900px) {
  .header__container{
    grid-template-columns: 1fr;
  }
  .header__right{
    display: none;
  }
  #tsparticles{
    display: none;
  }
  #tsparticles2{
    display: block;
  }
}
@media (max-width:768px) {
  .header__left{
    h2{
      font-size: 24px;
      line-height: 30px;
    }
  }
  .header{
    height: 670px;
  }
}
@media (max-width:425px) {
  .header__container{
    padding: 0 10px;
  }
  .header{
    height: 810px;
  }
  .header__xizmatlar{
    padding-top: 80px;
    .header__left{
      h1{
        font-size: 20px;
        line-height: 25px;
      }
      h2{
        font-size: 18px;
        line-height: 23px;
      }
      p{
        font-size: 16px;
        line-height: 20px;
      }
    }
  }
}
@media (max-width:375px) {
  .header{
    height: 710px;
  }
  .header__left{
    h1{
      font-size: 34px;
      line-height: 40px;
    }
    h2{
      font-size: 20px;
      line-height: 24px;
    }
  }
  .header__xizmatlar{
    padding-top: 80px;
    .header__left{
      h1{
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 15px;
      }
      h2{
        font-size: 16px;
        line-height: 21px;
        margin-bottom: 20px;
      }
      p{
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
}
@media (max-width:320px) {
  .header{
    height: 610px;
  }
  .header__left{
    h1{
      font-size: 30px;
      line-height: 35px;
      margin-bottom: 20px;
    }
    h2{
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 30px;
    }
  }
}