.jamoa{
  background: #3A1163;
  margin: 0 auto;
  padding: 100px 0;
  margin-top: 100px;
}
.jamoa__container{
  display: grid;
  grid-template-columns: 1fr 1.5fr;
}
.info{
  .jamoa__info{
    span{
      font-size: 16px;
      margin-top: 20px;
    }
  }
  .x__title{
    text-align: left;
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 30px;
  }
  .x__subtitle{
    font-size: 25px;
    line-height: 30px;
    text-align: left;
    color: #CEB3DB;
    margin-bottom: 30px;
  }
}
.info__top{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 100px;
}
.info__bot{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 30px;
  padding-bottom: 50px;
  .hamkorlik__right{
    margin-left: 0 !important;
    margin-right: 20px;
  }
}
.i_t__left{
  margin-right: 15px;
  .jamoa__info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
}
.i_t__right{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 150px);
  grid-gap: 20px;
  grid-template-areas: 
    ". I2" 
    "I1 I2"
    "I1 I2"
    "I1 ."
  ;
  margin-left: 15px;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
}
.info__img1{
  grid-area: I1;
}
.info__img2{
  grid-area: I2;
}
.jamoa__info{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  h1{
    font-family: 'Alien Robot';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 51px;
    color: #FFFFFF;
  }
  p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #CEB3DB;
    margin-top: 30px;
  }
  span{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #FFFFFF;
    margin-top: 40px;
    display: flex;
    align-items: center;
    div{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 24px;
      position: relative;
      &::before{
        content: "";
        width: 42px;
        height: 42px;
        background: rgba(173, 162, 242, 0.2);
        display: block;
        position: absolute;
        border-radius: 50%;
        animation: check_svg 2s linear infinite alternate;
      }
    }
    svg{
      background: #0066FF;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      z-index: 1;
    }
  }
}
@keyframes check_svg {
  from{
    transform: scale(0.7);
  }
  to{
    transform: scale(1);
  }
}
.jamoa__galery{
  display: grid;
  grid-template-columns: 1fr 1fr 1.2fr;
  grid-template-rows: repeat(6, 95px);
  grid-template-areas: 
    "G1 G1 G4" 
    "G1 G1 G4"
    "G2 G2 G4"
    "G2 G2 G5"
    "G3 G3 G5"
    "G3 G3 G5"
  ;
  grid-gap: 20px;
  transition: 0.4s linear;
}
.jamoa__image{
  width: 100%;
  height: 100%;
  transition: 0.4s linear;
  img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transition: 0.4s linear;
  }
}
.jamoa__image:nth-child(1){
  grid-area: G1;
}
.jamoa__image:nth-child(2){
  grid-area: G2;
}
.jamoa__image:nth-child(3){
  grid-area: G3;
}
.jamoa__image:nth-child(4){
  grid-area: G4;
}
.jamoa__image:nth-child(5){
  grid-area: G5;
}
@media (max-width:1440px) {
  .jamoa__info{
    h1{
      font-size: 36px;
      line-height: 40px;
    }
    p{
      font-size: 21px;
      line-height: 30px;
    }
  }
  .info{
    .x__title{
      font-size: 32px;
      line-height: 36px;
    }
    .x__subtitle{
      font-size: 22px;
      line-height: 26px;
    }
  }
}
@media (max-width:1250px) {
  .jamoa__container{
    grid-template-columns: 1fr 1.2fr;
  }
  .jamoa__galery{
    grid-gap: 10px;
  }
  .jamoa__info{
    h1{
      font-size: 32px;
      line-height: 38px;
    }
    p{
      font-size: 18px;
      line-height: 25px;
      margin-top: 25px;
    }
    span{
      font-size: 16px;
      line-height: 25px;
    }
  }
  .info__top{
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .info{
    .x__title{
      font-size: 30px;
      line-height: 34px;
      margin-bottom: 20px;
    }
    .x__subtitle{
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 20px;
    }
    .jamoa__info{
      span{
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
}
@media (max-width:1200px) {
  .info__bot{
    margin-left: 30px;
  }
}
@media (max-width:1024px) {
  .jamoa__container{
    display: flex;
    flex-direction: column-reverse;
  }
  .jamoa__galery{
    margin-top: 50px;
    grid-template-rows: repeat(2, 200px);
    grid-template-columns: 2fr 1.5fr 2fr;
    grid-template-areas: 
      "G1 G4 G3" 
      "G2 G4 G5"
    ;
  }
  .jamoa__info{
    margin-left: 0;
  }
  .jamoa{
    margin-top: 70px;
    padding: 70px 0;
  }
}
@media (max-width:990px) {
  .info__top{
    grid-template-columns: 1fr;
  }
  .info__bot{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-left: 0;
    .hamkorlik__right{
      margin-top: 30px;
      margin-left: 25px !important;
    }
  }
  .i_t__right{
    grid-template-rows: 600px;
    grid-template-areas: "I1 I2";
    margin-top: 30px;
  }
}
@media (max-width:768px) {
  .i_t__right{
    grid-template-rows: 500px;
  }
  .jamoa__info{
    h1{
      font-size: 24px;
      line-height: 28px;
    }
    p{
      font-size: 17px;
      line-height: 23px;
      margin-top: 20px;
    }
    span{
      font-size: 17px;
      line-height: 23px;
      margin-top: 30px;
      svg{
        width: 25px;
        height: 25px;
      }
      div{
        margin-right: 20px;
        &::before{
          width: 35px;
          height: 35px;
        }
      }
    }
  }
}
@media (max-width:650px) {
  .jamoa__galery{
    grid-template-columns: 1fr 1fr 1.3fr;
    grid-template-rows: repeat(6, 80px);
    grid-template-areas: 
      "G1 G1 G4" 
      "G1 G1 G4"
      "G2 G2 G4"
      "G2 G2 G5"
      "G3 G3 G5"
      "G3 G3 G5"
    ;
  }
}
@media (max-width:550px) {
  .info__top{
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .i_t__right{
    grid-template-rows: 400px;
  }
}
@media (max-width:425px) {
  .jamoa__galery{
    grid-template-columns: 1fr 1fr 1.4fr;
    grid-template-rows: repeat(6, 60px);
  }
  .info{
    .x__title{
      font-size: 22px;
      line-height: 27px;
    }
    .x__subtitle{
      font-size: 16px;
    }
    .jamoa__info{
      grid-template-columns: 1fr;
    }
  }
  .i_t__right{
    grid-gap: 10px;
  }
}
@media (max-width:375px) {
  .jamoa__galery{
    grid-template-rows: repeat(6, 55px);
  }
  .jamoa__info{
    h1{
      font-size: 18px;
      line-height: 22px;
    }
    p, span{
      font-size: 14px;
      line-height: 17px;
      div{
        margin-right: 15px;
      }
    }
  }
  .jamoa{
    margin-top: 50px;
    padding: 30px 0;
  }
  .info{
    .x__title{
      font-size: 18px;
      line-height: 22px;
    }
    .x__subtitle{
      font-size: 14px;
      line-height: 18px;
    }
  }
  .info__top{
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .i_t__right{
    // grid-template-columns: 1fr;
    // grid-template-areas: "I1""I2";
    grid-template-rows: repeat(1, 250px);
  }
}