@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

.portfolio__page{
  padding-top: 200px;
}
.portfolio__galery{
  position: relative;
  h1{
    font-family: 'Alien Robot', 'Play';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 51px;
    color: #FFFFFF;
  }
}
.portfolio__filter{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}
.filter__btn{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  button{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    padding: 20px 35px;
    background: rgba(0, 102, 255, 0.2);
    backdrop-filter: blur(5px);
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    outline: none;
    border: none;
  }
}
.filter__results{
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 200px);
  grid-auto-rows: 200px;
  grid-gap: 30px;
  .filter__item:nth-child(14n+1){ grid-column: span 2; grid-row: span 2; }
  .filter__item:nth-child(14n+2){ grid-column: span 1; grid-row: span 1; }
  .filter__item:nth-child(14n+3){ grid-column: span 1; grid-row: span 1; }
  .filter__item:nth-child(14n+4){ grid-column: span 2; grid-row: span 2; }
  .filter__item:nth-child(14n+5){ grid-column: span 2; grid-row: span 2; }
  .filter__item:nth-child(14n+6){ grid-column: span 1; grid-row: span 1; }
  .filter__item:nth-child(14n+7){ grid-column: span 1; grid-row: span 1; }
  .filter__item:nth-child(14n+8){ grid-column: span 1; grid-row: span 1; }
  .filter__item:nth-child(14n+9){ grid-column: span 1; grid-row: span 1; }
  .filter__item:nth-child(14n+10){ grid-column: span 2; grid-row: span 2; }
  .filter__item:nth-child(14n+11){ grid-column: span 2; grid-row: span 2; }
  .filter__item:nth-child(14n+12){ grid-column: span 2; grid-row: span 2; }
  .filter__item:nth-child(14n+13){ grid-column: span 1; grid-row: span 1; }
  .filter__item:nth-child(14n+14){ grid-column: span 1; grid-row: span 1; }
}
.filter__item{
  cursor: pointer;
  overflow: hidden;
  border-radius: 16px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
    width: 100% !important;
    height: 100% !important;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
  }
  p{
    position: absolute;
    z-index: 1;
    color: white;
  }
  .f_i_title{
    top: 0px;
    left: 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(125px);
    border-radius: 0 0 10px 0;
    transition: all 0.2s linear;
    opacity: 0;
    
  }
  .f_i_description{
    bottom: 0px;
    right: 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 110%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(125px);
    border-radius: 10px 0 0 0;
    transition: all 0.2s linear;
    opacity: 0;
  }
  .f_i_arrow{
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-50px);
    // background: rgba(255, 255, 255, 0.1);
    // backdrop-filter: blur(10px);
    transition: all 0.2s linear;
    border-radius: 50%;
    font: 300 1.55rem/1.4 "Josefin Sans"; 
    text-transform: uppercase;
    letter-spacing: 0.1175em;
    word-spacing: 0.3em;
    opacity: 0;
    $rotationDuration: 12s;
    $hoverDuration: 0.3s;
    $easeIn: cubic-bezier(0.32, 0, 0.67, 0);
    $easeOut: cubic-bezier(0.33, 1, 0.68, 1);
    $textColor: #fff;
    .link__svg{
      width: 100%;
      height: auto;
      transform-box: fill-box;
      fill: $textColor;
      stroke: $textColor;
      stroke-width: 0.05em;
      stroke-linecap: round;
      stroke-linejoin: round;
      .link__text {
        animation: rotate normal infinite $rotationDuration linear;
        transform-origin: 50% 50%;
        text-shadow: 
          1px 1px 0px black,
          -1px 1px 0px black,
          1px -1px 0px black,
          -1px -1px 0px black,
        ;
      }
      .link__arrow{
        transform-origin: 50% 50%;
        transform: scale(2);
        stroke: #0066FF;
        stroke-width: 3.5px;
      }
      @keyframes rotate {
        to {
          transform: rotate(360deg);
        }
      }
    }
    // svg{
    //   height: 25px;
    //   width: auto;
    //   fill: #0066ff;
    // }
    // &:before {
    //   content: "";
    //   position: absolute;
    //   inset: -10px;
    //   padding: 8px;
    //   border-radius: 50%; 
    //   background: conic-gradient(from var(--d,0deg),
    //     #6D13E0 ,
    //     #0000 30deg 120deg,
    //     #138AE0 150deg 180deg,
    //     #0000 210deg 300deg,
    //     #6D13E0 330deg
    //   );
    //   -webkit-mask:
    //     linear-gradient(#000 0 0) content-box,
    //     linear-gradient(#000 0 0);
    //   -webkit-mask-composite: xor;
    //   mask-composite: intersect;
    //   animation: rotateArrow 3s linear infinite;
    // }
    // @keyframes rotateArrow {
    //   from{
    //     transform: rotate(0deg);
    //   }
    //   to{
    //     transform: rotate(360deg);
    //   }
    // }
  }
  &:hover{
    transition: all 0.4s linear;
    img{
      transform: scale(1.05);
    }
    .f_i_arrow{
      transform: translateX(0px);
      opacity: 1;
    }
    .f_i_title{
      padding: 10px 5px 5px 10px;
      opacity: 1;
    }
    .f_i_description{
      padding: 5px 10px 10px 5px;
      opacity: 1;
    }
  }

}
.portfolio__slider{
  max-width: 1920px;
  margin: 100px auto;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
  .slider__container{
    // background: white;
    width: 100%;
    height: 500px;
    // padding-top: 60px;
    // border: 1px solid white;
  }
  .swiper-slide{
    height: 100%;
  }
  .swiper-button-next{
    top: 20px;
    right: 65px;
    background: url(../../assets/icons/arrow_r.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    &::after{
      display: none;
    }
  }
  .swiper-button-prev{
    top: 20px;
    left: auto;
    right: 130px;
    background: url(../../assets/icons/arrow_l.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    &::after{
      display: none;
    }
  }
  .comment_Swiper{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 60px;
    .user__info{
      display: flex;
      align-items: center;
      div{
        display: flex;
        flex-direction: column;
        margin-left: 10px;
      }
    }
    h3{
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 130%;
      color: #FFFFFF;
      margin-bottom: 40px;
    }
    p{
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 130%;
      color: #FFFFFF;
    }
    span{
      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      font-size: 15px;
      line-height: 150%;
      color: #ffffffa6;
    }
  }
}
.comment__item{
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  border:  solid #FFFFFF;
  border-width: 1px 1px 0 0;
  border-radius: 0 30px 0 0;
  img{
    width: 75px;
    height: 75px;
    border-radius: 50%;
  }
}
.paginations{
  margin-top: 50px;
  // background: white;
  .ant-pagination-jump-next, 
  .ant-pagination-jump-prev, 
  .ant-pagination-next, 
  .ant-pagination-prev{
    min-width: 25px;
    button{
      background: rgba(0, 102, 255, 0.2);
      border: none;
      color: white;
    }
  }
  .ant-pagination-item{
    background: rgba(0, 102, 255, 0.2);
    border: none;
    a{
      color: white;
    }
  }
  // .ant-pagination-item-active{
  //   border: 1px solid white;
  // }
  .ant-pagination-item-ellipsis{
    color: white !important;
  }
}
.modal__video{
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: calc(90vh - 72px);
  height: auto;
  max-width: 80vw;
  background: white;
  video{
    height: 100%;
    max-height: calc(90vh - 72px);
    max-width: 80vw;
    border-radius: 10px;
  }
}
#modal__overlay{
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(125px);
}
.modal__slider{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90vw;
  height: 80vh;
  background: white;
  border-radius: 16px;
}
.mySwiper__modal{
  height: 80vh;
  padding: 30px 50px 50px 50px;
  .swiper-button-next, .swiper-button-prev{
    &::after{
      color: #0066FF;
    }
  }
  img{
    object-fit: contain;
    height: 100%;
    width: auto;
    border-radius: 25px;
    background: white;
  }
  .swiper-slide{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 20px;
    // background: rgba(255, 255, 255, 0.1);
    // backdrop-filter: blur(125px);
  }
}

@media (max-width:1440px) {
  .filter__btn{
    button{
      padding: 15px 30px;
      font-size: 16px;
    }
  }
}
@media (max-width:1024px) {
  .modal__slider{
    height: 85vh;
  }
  .modal__video{
    max-width: 90vw;
    video{
      max-width: 90vw;
    }
  }
  .portfolio__galery{
    h1{
      font-size: 38px;
      line-height: 101%;
    }
  }
  .filter__results{
    grid-gap: 20px;
  }
  .portfolio__slider{
    .comment_Swiper{
      h3{
        font-size: 21px;
      }
      p{
        font-size: 18px;
      }
      span{
        font-size: 14px;
      }
    }
  }
}
@media (max-width:768px) {
  .modal__slider{
    height: 100%;
  }
  .mySwiper__modal{
    height: 100%;
  }
  .modal__video{
    max-width: 95vw;
    video{
      max-width: 95vw;
    }
  }
  .filter__results{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(8, 200px);
    margin-top: 50px;
  }
  .portfolio__page{
    padding-top: 100px;
  }
  .portfolio__filter{
    margin-top: 30px;
  }
  .filter__btn{
    button{
      padding: 10px 20px;
      font-size: 15px;
      line-height: 100%;
    }
  }
  .portfolio__slider{
    .slider__container{
      height: 450px;
    }
    .comment_Swiper{
      h3{
        font-size: 19px;
      }
      p{
        font-size: 17px;
      }
      span{
        font-size: 12px;
      }
    }
  }
}
@media (max-width:600px) {
  .modal__slider{
    height: 400px;
    width: 99vw;
  }
}
@media (max-width:425px) {
  .modal__slider{
    height: 350px;
  }
  .mySwiper__modal{
    padding: 20px 30px 30px 30px;
  }
  .portfolio__galery{
    h1{
      font-size: 30px;
    }
  }
  .filter__results{
    margin-top: 20px;
    grid-gap: 10px;
    grid-template-rows: repeat(8, 130px);
  }
  .portfolio__slider{
    margin: 50px auto;
    .slider__container{
      height: 400px;
    }
    .comment_Swiper{
      h3{
        font-size: 16px;
      }
      p{
        font-size: 15px;
      }
      span{
        font-size: 12px;
        font-weight: 400;
      }
    }
  }
  .comment__item{
    padding: 20px;
    img{
      width: 60px;
      height: 60px;
    }
  }
}
@media (max-width:375px) {
  .modal__slider{
    height: 300px;
  }
  .filter__btn{
    button{
      font-size: 13px;
    }
  }
  .filter__results{
    grid-gap: 5px;
  }
  .portfolio__slider{
    margin: 30px auto;
  }
}
@media (max-width:320px) {
  .modal__slider{
    height: 270px;
  }
}