.progects__container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  padding-bottom: 50px;
  padding-top: 80px;
  background: #3A1163;
  .h2__title{
    max-width: 1300px;
    margin-bottom: 35px;
  }
  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
.progects__content{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(2, 400px);
  max-width: 1920px;
}
.progects__item{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 50px 30px 20px 30px;
  position: relative;
  background-position: center !important;
  background-size: cover !important;
  p{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 30px;
    z-index: 1;
  }
  span{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
  }
  a{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    z-index: 1;
    margin-top: 40px;
    svg{
      margin-left: 15px;
    }
  }
  &::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 63.02%);
  }
}
.progects__item__description{
  flex-grow: 1;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.progects__item__techs{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10px;
  img{
    height: 27px;
  }
}
.p__tech__img{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 3px;
}
@media (max-width:1440px) {
  .progects__item{
    p{
      font-size: 22px;
    }
    span, a{
      font-size: 16px;
    }
  }
}
@media (max-width:1024px) {
  .progects__content{
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3, 400px);
  }
}
@media (max-width:768px) {
  .progects__content{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 370px);
  }
  .progects__container{
    margin-top: 70px;
    padding-top: 50px;
  }
}
@media (max-width:425px) {
  .progects__container{
    margin-top: 50px;
    padding-top: 30px;
  }
  .progects__content{
    p{
      font-size: 18px;
      margin-bottom: 20px;
    }
    span, a{
      font-size: 15px;
    }
    a{
      margin-top: 20px;
    }
  }
  .progects__item{
    padding: 30px 10px 20px 10px;
  }
}