.xizmat{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.xizmat__content{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}
.xizmat__item__img{
  height: 125px;
  margin-bottom: 20px;
}
.xizmat__item{
  // display: grid;
  // grid-template-columns: 1fr;
  // justify-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  position: relative;
  padding: 20px;
  div{
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .xizmat__item__text{
    flex-grow: 1;
  }
  img{
    height: 124px;
  }
  p{
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 20px;
  }
  span{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 15px;
  }
  a{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    svg{
      margin-left: 15px;
    }
  }
  &::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 75%;
    bottom: 0;
    z-index: -1;
    background: #3A1163;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }
}
@media (max-width:1440px) {
  .xizmat__item{
    p{
      font-size: 20px;
    }
    span{
      font-size: 18px;
    }
  }
}
@media (max-width:1305px) {
  .xizmat__content{
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width:630px) {
  .xizmat__content{
    grid-template-columns: 1fr;
  }
  .xizmat{
    margin-top: 50px;
  }
} 
@media (max-width:375px) {
  .xizmat__content{
    p{
      font-size: 18px;
    }
    span{
      font-size: 16px;
      line-height: 20px;
    }
    a{
      font-size: 17px;
    }
  }
}